[2013-05-17 09:57] chrisjenx opened #1 "Maven Artifact"
Can you add a maven artifact?

[2013-05-17 13:40] chrisjenx opened #2 "Don't use Android ID."
It has been known for quite some time that you should not use the Android Device ID.

Your OpenUUID class seem to use this:

Please read [Google Blog](http://android-developers.blogspot.co.uk/2011/03/identifying-app-installations.html)

[2013-05-17 13:46] chrisjenx opened #3 "[Question] Why does the client use providers?"
I'm pretty sure the whole point of your service is that I am sending requests to your server which in turn forwards it on to the selected provider? Great!

But that seems to not be the case?

Resulting in a horrendously large Jar with so much third party code I really dont want.

Why is it that the other libs seem to just talk to your server and the android one uses providers?

[2013-05-17 20:23] #2 closed, assigned to nobody

[2013-05-17 20:40] #3 closed, assigned to nobody

[2013-05-27 20:31] reinpk opened #4 "remove track calls with userId"
Since it's a bit confusing for mobile libs (makes sense on server-side obviously):
- https://github.com/segmentio/analytics-android/blob/master/src/io/segment/android/Analytics.java#L712
- https://github.com/segmentio/analytics-android/blob/master/src/io/segment/android/Analytics.java#L738
- https://github.com/segmentio/analytics-android/blob/master/src/io/segment/android/Analytics.java#L795

[2013-06-28 00:12] ivolo opened #6 "Integrate Quantcast"
https://github.com/quantcast/android-measurement

[2013-07-23 01:47] ivolo opened #7 "Add Count.ly revenue analytics"
http://count.ly/resources/reference/revenue-analytics

[2013-09-16 19:11] ivolo opened #8 "Implement opt-out"
Similar to here, https://developers.google.com/analytics/devguides/collection/android/v2/advanced#opt-out

[2013-11-11 18:54] GlobantCesarPardo opened #11 "Documentation error about method reset()"
Hi, I found that the documentantion of Android Library its wrong, on step 4 you make a call to Static method reset() but the signature of that method on Analytics.java its not Static, showing an error when try to follow the documentation.

Thanks for your time.

César Pardo

[2013-11-11 19:41] #11 closed, assigned to nobody

[2013-11-19 20:43] Vortec4800 opened #12 "Library is triggering GPS"
If the app has the location permission, the Segment.io library seems to be triggering the GPS hardware on launch.

From our research, it seems to be coming from here:

https://github.com/segmentio/analytics-android/blob/72462fa774bbc8eb27684bf795fbb66c391795e7/src/io/segment/android/Analytics.java#L350

The InfoManager tries to get a general location, and if the hardware doesn't have a good enough

[2013-11-20 11:39] #12 closed, assigned to nobody

[2013-11-20 11:40] #8 closed, assigned to nobody

[2013-11-20 11:40] #7 closed, assigned to nobody

[2013-11-20 11:40] #6 closed, assigned to nobody

[2013-11-20 11:41] #4 closed, assigned to nobody

[2013-12-18 21:16] ianstormtaylor opened #13 "rename providers to integrations"

[2013-12-27 20:47] ivolo opened #14 "Include requestId"
helps with dedup, logging, and debugging (once implemented server-side)

[2013-12-29 23:15] reinpk opened #15 "include the requestTimestamp with batch requests"
here's the spec developed for the iOS SDK:
https://gist.github.com/reinpk/7bd33d29694578b06cce

[2014-01-08 23:17] #15 closed, assigned to nobody

[2014-01-08 23:17] #14 closed, assigned to nobody

[2014-01-30 05:04] ianstormtaylor opened #17 "props simplification"
equivalent of whatever this is for android: https://github.com/segmentio/analytics-java/issues/14

[2014-02-18 02:58] #13 closed, assigned to nobody

[2014-02-19 19:38] kellyfj opened #19 "EasyJsonObject.java does not match class name"
Either the class name (EasyJSONObject) needs to match the file name (EasyJsonObject) or vice versa :-)

https://github.com/segmentio/analytics-android/blob/master/src/io/segment/android/models/EasyJsonObject.java

[2014-02-20 02:19] #17 closed, assigned to nobody

[2014-02-20 02:19] #19 closed, assigned to nobody

[2014-02-27 22:32] calvinfo opened #20 "don't assign `userId` to `sessionId`"
https://github.com/segmentio/analytics-android/blob/master/src/io/segment/android/Analytics.java#L1373-L1375 :sparkling_heart:

[2014-03-04 21:56] ianstormtaylor opened #21 "capitalize network type"
https://github.com/segmentio/analytics-android/blob/master/src/io/segment/android/info/Telephony.java#L36-L43

[2014-03-19 20:45] ivolo opened #23 "Exceeding batch limit may cause duplicates"
Repro test case by @kellyfj, thanks!

[code]

[2014-03-19 20:56] ivolo opened #24 "Possible race between flush and db thread"
Flush happens here: https://github.com/segmentio/analytics-android/blob/master/src/io/segment/android/flush/FlushThread.java#L80

and the removal from the db thread happens here: https://github.com/segmentio/analytics-android/blob/master/src/io/segment/android/flush/FlushThread.java#L109

There is a possible race condition where the same data can get flushed twice.

[2014-03-20 21:16] julio-cotta-edx opened #25 "database Bug"
While running monkey test I got this log

[code]

Hope it helps.

[2014-03-21 17:39] julio-cotta-edx opened #27 "NullPointerException"
[code]

[2014-03-25 03:36] reinpk opened #28 "send screen events as Viewed X Screen"

[2014-03-26 02:42] #25 closed, assigned to nobody

[2014-03-26 02:42] #24 closed, assigned to nobody

[2014-03-26 02:42] #27 closed, assigned to nobody

[2014-03-26 02:42] #28 closed, assigned to nobody

[2014-03-26 12:52] julio-cotta-edx opened #29 "compile issue"
Tapstream needs an Application instance in the line 50 of TapstreamIntegration.java:

[code]

Like:

[code]

From: https://tapstream.com/developer/android-sdk-documentation/

[2014-03-26 19:26] #29 closed, assigned to nobody

[2014-03-26 20:18] jondwillis opened #30 "Flush continues after activity is destroyed and even after app is removed from recent apps"
Affects version 0.6.2

I'm not extending TrackableActivity.

Here's how to reproduce...

[code]

...

Producing some logs:

03-26 13:14:35.632  10795-10795/tv.pluto.android I/analytics﹕ [Google Analytics] onActivityStart finished in : 0 milliseconds.
03-26 13:14:35.632  10795-10795/tv.pluto.android I/analytics﹕ [Mixpanel] onActivityStart finished in : 0 milliseconds.
03-26 13:14:35.632  10795-1079

[2014-03-28 13:12] julio-cotta-edx opened #31 "Database bug, database not being closed"
Running with the master branch of today..

[code]

[2014-04-03 16:21] gabriel-bertini-ifood opened #32 "Bug in database entrie"
When inserts a string with ' (single quotes) like "Newell's Old Boys" the app crashes:

[code]

[2014-04-08 13:42] gabriel-bertini-ifood opened #33 "NullPointerException #27"
[code]

[2014-04-09 16:57] julio-cotta-edx opened #34 "ConcurrentModificationException"
Got this error from segment.io library.

[code]

[2014-04-18 03:30] ivolo opened #35 "Remove bundled omniture provider to prefer server-side"

[2014-04-28 01:18] #33 closed, assigned to nobody

[2014-04-28 01:19] #35 closed, assigned to nobody

[2014-04-28 01:21] #34 closed, assigned to nobody

[2014-04-28 01:27] #30 closed, assigned to nobody

[2014-04-28 01:31] #23 closed, assigned to nobody

[2014-04-28 01:37] #21 closed, assigned to nobody

[2014-04-28 01:41] #32 closed, assigned to nobody

[2014-05-05 12:16] jnagels opened #36 "Update Mixpanel to 4.2.0"
It would be awesome to integrate the Mixpanel 4.2.0 library into segment.io to fix some issues we're having.

[2014-05-14 17:00] #36 closed, assigned to nobody

[2014-05-14 17:39] ivolo opened #37 "Google Analytics not reporting"
Had reports of this happening.

[2014-05-14 17:39] ivolo opened #38 "Mixpanel device context not showing up"
Extra fields (Operating system, device info, etc. aren't being sent to
Mixpanel)

[2014-05-14 17:41] ivolo opened #39 "Error generating final archive with 0.6.12"
[2014-05-09 13:01:02 - MGMainActivity] Error generating final archive:
Found duplicate file for APK: AndroidManifest.xml
Origin 1: /home/rednamer/Work/aliceoid/Aliceoid/bin/resources.ap_
Origin 2:
/home/rednamer/Work/aliceoid/Aliceoid/libs/analytics-android-0.6.12.jar

[2014-05-16 23:29] #31 closed, assigned to nobody

[2014-05-16 23:31] #39 closed, assigned to nobody

[2014-05-16 23:32] #37 closed, assigned to nobody

[2014-05-27 16:39] vincentnock opened #40 "INSTALL_FAILED_DEXOPT on Android 2.3.6"
Impossible to run an application on Android 2.3.6 with analytics-android-0.6.5.jar.
INSTALL_FAILED_DEXOPT occurs on adb install

The library is included with build.gradle:

[code]

The app is installed correctly if I remove this line
Tried with 0.6.11 also with no success. (could't try with other versions, because I couldn't even build with them, but it's another issue)

[2014-06-10 08:40] pkouretas opened #42 "problem with Tapstream integration"
Hi there, I'm trying to use the code below (taken from Tapstream's page) but the method is "undefined". Could it be because the Tapstream.jar you provide is outdated?

![tapstream_code](https://cloud.githubusercontent.com/assets/5377062/3227375/3f02ca44-f07a-11e3-909a-4d9348c76554.png)

https://tapstream.com/developer/android-sdk-documentation/

[2014-06-10 16:37] jpetey75 opened #43 "update tapstream"
internal ticket here: https://secure.helpscout.net/conversation/33750057/24541/

[2014-06-10 22:50] jpetey75 opened #44 "add support for GA ecommerce"
We support [in the browser in Analytics.js](https://github.com/segmentio/analytics.js-integrations/blob/master/lib/google-analytics.js#L202-L250)

And soon [through our servers](https://github.com/segmentio/integrations/issues/125).

We should probably add on Android too, [GA docs here](https://developers.google.com/analytics/devguides/collection/android/v4/ecommerce)

I've had 2-3 people ask abou

[2014-06-18 23:50] ivolo opened #45 "update to Google Analytics 4"

[2014-06-18 23:50] ivolo opened #46 "Support for Mixpanel.alias method"
https://mixpanel.com/help/reference/android

[2014-06-18 23:56] #20 closed, assigned to nobody

[2014-06-23 23:03] #42 closed, assigned to nobody

[2014-06-23 23:03] #43 closed, assigned to nobody

[2014-06-26 20:52] f2prateek opened #49 "Issue with Remote aar artifact"
One of our users reported an error that I was able to reproduce. Turns out it's an issue from the build system.

Opening it here so we can keep a track of it and as a pointer for other developers.

https://groups.google.com/forum/#!topic/adt-dev/frugpmBwQt0

[2014-06-28 08:16] f2prateek opened #51 "Expose Instances of Bundled Integrations"
Have a way for users to get the instance that we are using in our integration so they can share it.

Potential usability : If they turn of the integration on the server, we won't actually initialize it through our library, so if they call any methods for the integration later, users will have to make sure they initialize it first.

[code]

[2014-06-29 19:36] #49 closed, assigned to nobody

[2014-07-03 17:08] #1 closed, assigned to nobody

[2014-07-07 22:19] #46 closed, assigned to nobody

[2014-07-08 17:50] reinpk opened #54 "capture device brand"
https://github.com/segmentio/analytics-android/blob/f4ced34694ab4675745a44042837e983018e816b/analytics/src/main/java/com/segment/android/info/Device.java#L45

similarly:

[code]

[2014-07-09 17:10] f2prateek opened #56 "Evaluate using Advertising ID"
Consider whether to switch to using Advertising ID as a default, or just as a fallback in case Android ID is unavailable.

[ANDROID_ID](https://developer.android.com/reference/android/provider/Settings.Secure.html#ANDROID_ID)

[Advertising ID](https://developer.android.com/google/play-services/id.html)

[2014-07-10 20:35] naqi opened #58 "Mixpanel Screen API"
I was banging my head as to why Analytics.screen would not send any thing to Mixpanel thinking I was doing something wrong but then I read this in Mixpanel integration...

[code]

Why does it only send screen view for revenue?!

[2014-07-16 16:50] #58 closed, assigned to nobody

[2014-07-17 18:52] kellyfj opened #62 "CursorWindowAllocationException in PayloadDatabase.getEvents()"
Hi Folks,
   Have you ever experienced this before.

[code]

The Cursor is closed in the finally as expected

[code]

[2014-07-21 21:17] f2prateek opened #63 "Duplicate Events"
For sending events to the server, we have an `integrations` key in each payload that contains string-boolean pairs, each entry denoting whether the service is enabled for that integration.

Any integrations that are bundled, we'll have that key set to false so that we don't send via the server.

Unfortunately, we're re-using this integrations map to [check whether](https://github.com/segmentio/ana

[2014-07-23 20:07] #45 closed, assigned to nobody

[2014-07-24 17:32] lukaspili opened #65 "Analytics.screen() ignored on Mixpanel"
Hi,
As mentioned in the title, events from Analytics.screen() are ignored on Mixpanel.
I know that mixpanel does not support specifically screen() events. However in the segmentio iOS SDK, screen() events are sent to Mixpanel as track() events.

Wouldn't it be logical to have the same behaviour in the Android SDK ?

Thanks for the help,
Lukas

[2014-07-25 10:38] f2prateek opened #66 "More useful logging when Integration is not bundled"
For example if Mixpanel is enabled in settings, but not bundled, then we should log and warn them about it.

[2014-07-26 00:15] #63 closed, assigned to f2prateek

[2014-08-04 22:03] f2prateek opened #68 "Patch Flurry Integration"
We're looking up the wrong key (https://github.com/segmentio/analytics-android/blob/master/core/src/main/java/com/segment/android/integrations/FlurryIntegration.java#L48), it should be `sessionContinueSeconds`, which is what is returned by the server.

[2014-08-06 21:56] #56 closed, assigned to nobody

[2014-08-07 17:55] #44 closed, assigned to nobody

[2014-08-21 04:43] #38 closed, assigned to f2prateek

[2014-08-21 04:44] f2prateek opened #73 "Minimize method counts"
v1's count is 1100, currently v2 is at 800 but I think we can cut it down even more.

[2014-08-21 04:45] f2prateek opened #74 "Improve performance when retrieving custom types from Map"
e.g. if context is retrieved from a payload, cache the context object in the map so we can avoid deserializing it again, similarly for even custom types.

[2014-08-21 04:47] f2prateek opened #75 "Queue Events in IntegrationManager"
There is a bit of latency between the first time events are sent to us and when we fetch settings from the network. Not an issue for server integrations, but bundled integrations should have this queued as well.

[2014-08-21 19:41] f2prateek opened #76 "Merge Properties before sending to integration"
Noticed that we don't pass in all the information to our bundled integrations.

e..g Amplitude:
When we call `identify`, we set payload.traits as the user properties.
When we call screen/track, we only pass in payload.properties `Amplitude.logEvent(name, properties);`.
We should probably be merging payload.context and payload.properties instead : `Amplitude.logEvent(name, merge(properties, context

[2014-08-22 02:39] #76 closed, assigned to nobody

[2014-08-22 04:52] f2prateek opened #77 "Add Support for Android Wear"
It would be awesome if the SDK worked out of the box for Android Wear.

[2014-08-26 16:33] #68 closed, assigned to nobody

[2014-08-26 16:33] #66 closed, assigned to nobody

[2014-08-26 16:34] #54 closed, assigned to nobody

[2014-08-26 16:35] #75 closed, assigned to nobody

[2014-08-26 16:36] #73 closed, assigned to f2prateek

[2014-08-26 16:36] f2prateek opened #78 "Automatically enable debugging for apps with debugging flag"

[2014-09-05 22:21] #78 closed, assigned to nobody

[2014-09-19 06:25] #74 closed, assigned to nobody

[2014-09-19 06:27] #77 closed, assigned to nobody

[2014-09-24 22:43] f2prateek opened #80 "Support User ID on Google Analytics"
https://developers.google.com/analytics/devguides/collection/android/v4/user-id

[2014-09-25 20:47] f2prateek opened #82 "Track Install Referrer"
Can't be done automatically, will require users to register the service, like below.

https://developer.android.com/reference/com/google/android/gms/tagmanager/InstallReferrerReceiver.html

https://developer.android.com/reference/com/google/android/gms/analytics/CampaignTrackingReceiver.html

[2014-10-03 18:59] f2prateek opened #83 "`packageInfo.applicationInfo.name` can return null"
We should use `getApplicationLabel` instead.

[2014-10-03 19:12] #65 closed, assigned to nobody

[2014-10-03 19:13] #62 closed, assigned to nobody

[2014-10-03 19:14] #80 closed, assigned to nobody

[2014-10-04 19:32] #83 closed, assigned to nobody

[2014-10-06 17:24] f2prateek opened #84 "Fluent API to construct Products"

[2014-10-16 19:33] f2prateek opened #86 "Send context.device.token"

[2014-10-17 01:02] #86 closed, assigned to f2prateek

[2014-10-22 06:25] #82 closed, assigned to nobody

[2014-10-22 06:26] #84 closed, assigned to nobody

[2014-10-22 06:26] #51 closed, assigned to f2prateek

[2014-10-26 22:55] reinpk opened #91 "device.id vs device.userId to match spec?"
not sure i'm fully understanding the code so bear with me :)

it looks like the value from `.getDeviceId()` is getting set to `context.device.userId`, but the spec is `context.device.id`?

https://github.com/segmentio/analytics-android/blob/1a2b4bb21401796bc65df884371829eb24722548/core/src/main/java/com/segment/analytics/AnalyticsContext.java#L197
https://github.com/segmentio/analytics-android/blo

[2014-10-26 23:35] #91 closed, assigned to nobody

[2014-10-27 17:20] f2prateek opened #96 "Add Make Targets"
Simple wrappers around our Gradle tasks so folks on the team don't need to hunt around.

[2014-10-27 17:28] f2prateek opened #97 "Better Mock Data"
Right now we just new/randomly load test data. Would be easier to have fluent builders to specify payloads and app state (e.g. distinct userId and anonymousId)

[2014-10-30 01:13] phil-brown opened #103 "Crash"
This occurs with the latest _aar_, configured in _build.gradle_ as:

[code]

Here is the stack trace:

[code]

[2014-10-30 02:26] #103 closed, assigned to nobody

[2014-10-30 15:26] phil-brown opened #104 "Unable to create file queue"
Below is the stack trace. The line in _MyAnalytics.java_, where the crash occurs, reads:

[code]

[code]

[2014-10-31 14:25] jiri-hlt opened #107 "Crash: PayloadConverter"
[code]

[2014-10-31 21:41] phil-brown opened #109 "Documentation Proguard Settings"
I had to add this block to my *proguard* file in order to compile the project. I don't remember seeing this in the documentation - would be nice if it were.

[code]

Are there other proguard rules I am missing?

[2014-11-04 06:35] f2prateek opened #110 "Use Annotated Tags"
Jake's suggestion, opening so I don't forget http://git-scm.com/book/en/v2/Git-Basics-Tagging

[2014-11-04 20:32] #110 closed, assigned to f2prateek

[2014-11-06 16:09] phil-brown opened #112 "Mixpanel App Links"
I could be wrong, but looking through the code, it looks like using `Analytics.Builder` will use application context to create the `Analytics` Object.

Before we switched to segment, I had seen that in order to allow _app links_ to work in _Mixpanel_, you need to instantiate the MixpanelAPI with Activity context. Are these integrated a different way, or not at all?

Thanks.

[2014-11-07 19:32] doublerebel opened #113 "Builder class not found by Studio from Maven package"
Hello,

I have `compile 'io.segment.analytics.android:core:+'` in my dependencies, and looking at the source I believe `Builder` should be publically available as demonstrated in the docs.  However, I have not been able to get Studio to find the `Builder` class.  When choosing **Go To Implementation** from the context menu, this is the 'source' that Studio generates for me:

[code]

Have I missed

[2014-11-07 19:43] #113 closed, assigned to nobody

[2014-11-07 19:47] doublerebel opened #114 "Identify docs Traits API outdated"
Hello,

Android example on https://segment.com/docs/api/tracking/identify/ still reflects the Traits(Strings...) API rather than the newer .putEmail(...), .putValue(...) API.  This threw me off until I checked the source.  Thankful that you have kept the SDK open-source!

Cheers,

Charles

[2014-11-07 20:31] doublerebel opened #115 "Arguments reversed in docs Android example of Alias"
Hello,

https://segment.com/docs/api/tracking/alias/ example for Android has the arguments in order of `previousId, newId`, but the method itself [takes the reverse](https://github.com/segmentio/analytics-android/blob/21f53af6ba54ef9e86bee1f8ef7609923f90b688/core/src/main/java/com/segment/analytics/Analytics.java#L489).

Current Android example:

[code]

Other examples (i.e. node.js):

[code]

Tha

[2014-11-07 20:47] #115 closed, assigned to nobody

[2014-11-08 17:36] skunkwerk opened #116 "ConcurrentModificationException"
I am seeing this with version 2.2.0

Fatal Exception: java.util.ConcurrentModificationException

a.util.LinkedHashMap$LinkedHashIterator.nextEntry (LinkedHashMap.java:347)
java.util.LinkedHashMap$EntryIterator.next (LinkedHashMap.java:374)
com.segment.analytics.JsonUtils.mapToWriter (JsonUtils.java:111)
com.segment.analytics.JsonUtils.write (JsonUtils.java:139)
com.segment.analytics.JsonUtils.mapT

[2014-11-13 17:00] #107 closed, assigned to nobody

[2014-11-13 17:12] phil-brown opened #120 "leanplum build warnings"
When I build version 2.4.1, I get the following output during my gradle build (though the build still works):

[code]

[2014-11-13 20:29] #120 closed, assigned to nobody

[2014-11-19 19:19] #97 closed, assigned to nobody

[2014-11-25 05:18] #96 closed, assigned to nobody

[2014-11-27 20:44] #116 closed, assigned to nobody

[2014-11-27 20:44] #40 closed, assigned to nobody

[2014-12-02 05:58] f2prateek opened #132 "Document Google Analytics Exceptions Bug"
https://code.google.com/p/analytics-issues/issues/detail?id=443

[2014-12-02 20:55] #104 closed, assigned to f2prateek

[2014-12-04 20:02] phil-brown opened #139 "Crash: Out of Memory"
This crash occurs in version 2.4.3, shortly after the app starts:

[code]

[2014-12-06 03:28] #112 closed, assigned to nobody

[2014-12-22 17:31] #139 closed, assigned to f2prateek

[2014-12-22 17:31] #114 closed, assigned to nobody

[2014-12-24 19:46] tonytaing opened #152 "Register for Push Notifications"
The iOS library supports an abstracted method for registering devices for push notification https://segment.com/docs/libraries/ios/#how-do-i-use-push-notifications-

However, the Android library doesn't support this. The doc https://segment.com/docs/libraries/android/#how-can-i-use-an-integration-specific-feature-e-g-mixpanel-s-push-notifications- recommends calling the 3rd party instead.

Would i

[2015-01-01 01:03] johnryan opened #153 "Use different api keys for debug/release"
Is there any way to set a different api key for debug vs release? This seems impossible since the key is set from the analytics.xml file.

[2015-01-01 01:08] johnryan commented on #153
didn't see this in the docs sorry.

[2015-01-01 01:08] #153 closed

[2015-01-02 05:58] johnryan opened #155 "Any way to reset analytics on logout."
Is there any way to reset the analytics when a user logs out? the iOS library has a reset method, but I can't find any documentation of this on android.

[2015-01-02 20:38] mbmc opened #156 "more than one library with package name 'com.google.android.gms'"
Today, I'm facing this error while compiling my project.
Seems that excluding module solves the problem:
[code]

[2015-01-02 20:59] f2prateek commented on #156
Can you try the later version?

[code]

[2015-01-02 21:07] f2prateek commented on #155
You can use [`analytics.logout()`](https://oss.sonatype.org/service/local/repositories/releases/archive/com/segment/analytics/android/core/2.5.1/core-2.5.1-javadoc.jar/!/index.html).

[2015-01-02 21:07] #155 closed

[2015-01-02 21:16] mbmc commented on #156
can't find com.segment.analytics.Analytics

[2015-01-02 21:29] f2prateek commented on #156
Oh sorry needs to be,

[code]

[2015-01-02 22:33] mbmc commented on #156
It gives the "more than one library with package name 'com.google.android.gms'" error, unless I do that
[code]
but I see that in the logs:
[code]

[2015-01-03 05:57] f2prateek commented on #156
That's the right message - you don't have these integrations enabled for your project, correct? This will only be logged when you have debugging enabled.

[2015-01-03 06:04] f2prateek commented on #156
Do you have any other dependencies for Play Services? Could you share the output of `./gradlew dependencies` for your project?

[2015-01-03 17:01] mbmc commented on #156
About the messages, right, it's not enabled.
I do have a dependency on Google Play (see first post).

[2015-01-03 17:49] f2prateek commented on #156
If you (or any of your other dependencies) have a dependency on Play Services, you'll have to exclude the one provided by us.

[2015-01-03 17:49] #156 closed

[2015-01-05 23:10] drspaceboo opened #157 "Queue not dispatching automatically"
After updating to 2.5.0 or 2.5.1 the queue doesn't dispatch automatically when it reaches it's time or size limits. We had to roll back to 2.4.6 to get this working again.

[2015-01-06 01:39] f2prateek commented on #157
Can you send me the logs?

[2015-01-06 02:40] drspaceboo commented on #157
There is no erorring or anything, just the usual logging of things getting added to the queue. Not sure if it will be useful for diagnosis. I can still send it through if you would like.

[2015-01-06 02:41] f2prateek commented on #157
Would be helpful since I would need more information to debug this issue. Also the code with which you're tracking an event would be helpful to reproduce.

[2015-01-06 05:57] drspaceboo commented on #157
I tried making a sample project to recreate the issue but couldn't. Also we are moving away from using your ALL package in favour of the CORE package which we aren't seeing the issue for. Unfortunately that means I don't have any more time allocated to resolve this issue. My apologies about that. I didn't record the logs at the time. Feel free to close this issue since it can't be recreated.

[2015-01-06 05:58] f2prateek commented on #157
No worries, do let me know if this occurs in 2.5.1

[2015-01-06 05:58] #157 closed

[2015-01-06 06:22] drspaceboo commented on #157
Just had a chat to my colleague, he tells me we were having the issue with 2.5.0 this morning. After updating the test to that version I can recreate it every time here is a download of the simple project, just put in your write key to test https://www.dropbox.com/s/9rttlk7aj7u91rv/SegmentIOTest.zip

He is also experiencing the issue with 2.5.1, but I can't recreate that locally. So we have droppe

[2015-01-06 08:46] f2prateek commented on #157
Thanks, I'll try it out. 2.5.0 had the issue since the url for our server was incorrect, but it should have been fixed in 2.5.1.

[2015-01-18 02:22] somghosh opened #160 "How to find the anonymous ID for alias (String, String)"
I can see that segment.io in Android automatically gives an anonymous ID for someone I haven't identified and sends track() events with this ID. After this person logs in and I have got his Database id (from my server response) in the Android phone, I want to alias and set his old anonymous id to newly acquired database id. How can I do that?

For this I need to find out what segment.io is using a

[2015-01-18 05:21] f2prateek commented on #160
You should use `analytics.alias(null, newId)` and then call `analytics.identify(newId)`. Does that work?

[2015-01-18 13:00] somghosh commented on #160
Thanks a lot @f2prateek  - I am testing. But it seems that Segment caches my old user id somehow even if I log out? Is there a way to remove segment.io cache . Otherwise I have to use a totally different phone to test this.

[2015-01-18 22:57] f2prateek commented on #160
You can uninstall and reinstall the app, or clear data from the system settings.

Within your own app, if you have a logout functionality, you can call `analytics.logout()`, which will clear the cache.

[2015-01-19 15:35] somghosh commented on #160
Thanks , when I do analytics.alias(null, newId), it fails at the following  : void clearCharges();

01-19 15:32:36.021  10844-13168/com.gmspartners.earthmiles.debug E/AndroidRuntime﹕ FATAL EXCEPTION: main
    Process: com.gmspartners.earthmiles.debug, PID: 10844
    java.lang.NullPointerException
            at com.mixpanel.android.mpmetrics.MixpanelAPI.alias(MixpanelAPI.java:269)
            at c

[2015-01-19 17:12] f2prateek commented on #160
Oh I think I know what the issue is, let me try out the fix and I'll get back to you.

[2015-01-19 17:52] f2prateek commented on #160
Just realized I did this fix over the weekend, could you try the latest snapshot release?

[code]

[2015-01-21 15:58] wjwarren commented on #160
Hi @f2prateek,

Just wanted to chime in on this issue since I am working on using `alias()` as well. I don't see the `Analytics.alias(null, newId)` call failing, so it looks like the latest snapshot works.

I do, however, think that the aliasing isn't actually working. I don't see any data that should have been aliased appear under the same 'user profile' in MixPanel People.

When I call `Analytic

[2015-01-21 18:50] f2prateek commented on #160
@wjwarren Yeah I see the problem now.

Alias works in tandem with identify, so you should actually use:

[code]

This doesn't help @somghosh, who needs the previousId (the anonymous id that we generated). Let me see what we can do to fix it.

[2015-01-21 18:51] somghosh commented on #160
Is there no function to get the anonymous Id?
On 21 Jan 2015 18:50, "Prateek Srivastava" <notifications@github.com> wrote:

[2015-01-21 19:01] wjwarren commented on #160
@f2prateek Thank you for your reply. I do, however, see no `identify` method that takes 2 Strings as an argument.

[2015-01-21 19:13] f2prateek commented on #160
@wjwarren sorry, the second one was supposed to be alias.

[2015-01-21 19:17] wjwarren commented on #160
@f2prateek I tried that before, but then the output in LogCat becomes `AliasPayload{userId=newId, previousId=newId}`. I read through the comments on #119, which said that the order of calling `alias` and 'identify' doesn't matter. I am afraid that now I am stuck at the same problem as @somghosh.

[2015-01-21 19:20] f2prateek commented on #160
I'll add a way to get the anonymous ID and changing the alias signature to make it easier to understand. This is what it will look like.

[code]

[2015-01-21 19:32] f2prateek commented on #160
The snapshot will be ready to try out in a couple of hours.

[2015-01-21 19:52] wjwarren commented on #160
@f2prateek Awesome, thanks a lot! :smile: Please let me know when the shapshot is out.

[2015-01-22 18:07] krohnjw opened #163 "Could not create disk queue"
Seeing an intermittent crash in Segment when logging events.

Segment version: 2.5.1

This occurred on Android 4.2.2 specifically

    01-22 11:55:45.757    6448-6448/? E/AndroidRuntime﹕ FATAL EXCEPTION: main
    java.lang.RuntimeException: Could not create disk queue 7BuoF79P1JZMINRbiQZYJEwLO4LIGaZp in /data/data/com.parkwhiz.driverApp/files
            at com.segment.analytics.Segment.a(Segment.

[2015-01-22 18:47] wjwarren commented on #160
@f2prateek How do I get the snapshot? Is it available from Maven Central or should I clone the repo?

[2015-01-22 20:23] f2prateek commented on #163
Are you using proguard? Also what device is this on?

[2015-01-22 20:25] krohnjw commented on #163
Proguard is being used.

This particular exception occurred on an HTC One X.

[2015-01-22 20:25] f2prateek commented on #160
It's not on Maven Central yet, but in the snapshots repo instead. Just add it to you repositories section and update the version number. I'll make a release on Monday that will have this change.

[code]

[2015-01-22 20:29] f2prateek commented on #163
Are you seeing this crash without program? Could you share your AnalyticsHelper class, at least the portion initializing the client?

[2015-01-22 20:43] krohnjw commented on #163
I can't confirm that I've seen it without proguard with any degree of certainty (it doesn't happen frequently).  I have one more crash logged with the same issue from an S4 but that was a release build so it was using Proguard.  In testing I've stumbled upon this a few more times but I can't say with any real degree of certainty whether that was on debug or release builds.

Init

    private stati

[2015-01-22 20:48] f2prateek commented on #163
So it looks like you're creating a new instance of the Analytics class each time you call `getAnalytics`? It should be a singleton, so you should create it once and reuse that instance.

[2015-01-22 20:56] krohnjw commented on #163
It is, I'll move it to a singleton.  Is this expected to resolve the issue?

[2015-01-22 21:05] f2prateek commented on #163
It should. If you've already sent this production, then I would also add a custom `.tag` String to the Builder, so it ensures a new disk queue is created, instead of being stuck on the corrupted queue.

[2015-01-22 21:09] krohnjw commented on #163
It's all internal testing right now so nothing public.  I'll tag it anyway in case we have anyone else internally who has already experienced the issue.  Thanks

[2015-02-02 16:57] somghosh commented on #160
Hi @f2prateek

I see that currently, alias() accepts previousId and options as arguments, shouldn't it be newId and options? How do I specify the newId otherwise?

thanks

	   */
	  public void alias(String previousId, Options options) {
		if (isNullOrEmpty(previousId)) {
		  throw new IllegalArgumentException("previousId must not be null or empty.");
		}
		if (options == null) {
		  options = def

[2015-02-02 18:36] f2prateek commented on #160
@somghosh You would first call identify with the newId, and then call alias with the old id.

[code]

[2015-02-02 18:36] f2prateek commented on #160
The alias call will automatically use the currentUserId as the newUserId internally.

[2015-02-02 19:12] kurtisnelson commented on #109
I had to add:
[code]
It probably all varies based on what integrations are being used.

[2015-02-03 10:17] somghosh commented on #160
Understood, thanks @f2prateek . I tried this out, however, seems like things are not working in Mixpanel still. Please find screenshots attached - in the debugger and in the mixpanel People screen - as you would see only events after identify/alias is associated with the user - while aliasing would also make the Signup Page screen event (ActivitySignup_) appear in Mixpanel before Registration as w

[2015-02-03 13:40] wjwarren commented on #160
@f2prateek @somghosh Same happens for me. I see the `alias` and `identify` calls, but the data that should be aliased, isn't showing up under the same user in Mixpanel.

[2015-02-03 19:19] f2prateek commented on #160
I'll look into it. Is this with the bundled integration, or are you using the server side integration?

[2015-02-03 21:03] wjwarren commented on #160
I'm using server side.

[2015-02-03 21:07] somghosh commented on #160
I'm using the bundled integration
On 3 Feb 2015 21:03, "Wijnand Warren" <notifications@github.com> wrote:

[2015-02-03 21:08] f2prateek commented on #160
@somghosh can you send me the logs?

[2015-02-03 21:09] f2prateek commented on #160
@wjwarren what user does it show under?

[2015-02-03 22:45] wjwarren commented on #160
In Mixpanel it shows as an anonymous user with the same `anonymousId` as the known user.

[2015-02-03 22:46] somghosh commented on #160
Same for me actually. I dont see it in People in Mixpanel, but see an event
in Trends with id = anon id

On 3 February 2015 at 22:45, Wijnand Warren <notifications@github.com>
wrote:

[2015-02-04 23:43] f2prateek opened #165 "Translate Mixpanel Special Properties"
https://mixpanel.com/docs/properties-or-segments/special-or-reserved-properties

[2015-02-05 11:59] wjwarren opened #166 "StrictMode violations"
I noticed 2 StrictMode violations in the last version of the Segment lib.

[code]

And

[code]

[2015-02-05 12:52] f2prateek commented on #166
This is fixed for v3, which should hopefully be merged into the public repo soon.

[2015-02-05 12:55] wjwarren commented on #166
Awesome, thanks! :smile:

[2015-02-05 16:23] wjwarren opened #167 "Queue not flushed or counter not reset?"
When looking at the Segment Debugger website and comparing it to the LogCat output, there seems to be a discrepancy. I can see the events showing up on the Debugger website (https://segment.com/[user]/[project]/debugger), but the LogCat output shows no indication that the queue has actually been flushed.

I use the default 20 events limit, have a working internet connection, but end up with a much

[2015-02-05 19:58] f2prateek commented on #167
We removed logging messages when they get flushed since we don't actually deserialize them. This is fixed in v3, where we'll just display the number of events flushed (and no other data).

You can use `Analytics#getStats` to see the number of events that have been flushed in a session.

The queueSize can grow in size beyond the flushSize - if say our servers are down. Occasionally an upload also m

[2015-02-05 20:22] wjwarren commented on #167
Thanks again for the quick reply and the explanation! :)

[2015-02-06 06:39] lukeweber commented on #167
Interesting thing happened, and we have a support case open, but wanted to ping this thread. Yesterday, we were testing our app, opened a few pages, registered, created some content. In all maybe it's 150 events through our testing. If we killed the app and reopened it would resend those 150 events each time the app was opened, maybe it was even doubling them each time which would make more sense

[2015-02-06 17:10] f2prateek commented on #167
@lukeweber interesting, I doubt think it's a race problem - the queue is only ever accessed from one thread. It could certainly be from a different issue.

If anything - you would be seeing events being dropped. If we're flushing events and you've submitted more events, the queue won't be able to accept them until the flush finishes (since the enqueue/dequeue and flush are run on a single thread).

[2015-02-06 18:11] lukeweber commented on #167
Yes it's on 2.5.3.

I had to delete the project that it was related to in segment ledge/dev
because I noticed late at night and thought it might have been our issue
and there's no way to revoke a key. Two days later, we haven't reproduced
this again yet, but I'm focusing on that today as it was happening on three
different phones on that project.

On Fri, Feb 6, 2015 at 9:10 AM, Prateek Srivastava

[2015-02-06 18:21] f2prateek commented on #167
@lukeweber Ah I think your issue was a server side issue - we couldn't debug it since you deleted the project. Let us know if it happens again and we'll look up the logs for our project to narrow down the problem.

[2015-02-06 18:35] lukeweber commented on #167
It's just started happening right now on wijnand/test. It only happens when
we're hooked up to mixpanel, which we've now temporarily disabled just so
we don't hammer your servers servers or mixpanel's.

If you want to ping me directly or hangout, I've sent you an email with the
details.

On Fri, Feb 6, 2015 at 10:21 AM, Prateek Srivastava <
notifications@github.com> wrote:

[2015-02-06 18:42] f2prateek commented on #167
@lukeweber thanks, looking into it now. To confirm, the debugger shows you messages correctly (i.e. without duplicates) - but Mixpanel is showing it duplicate events?

[2015-02-06 18:44] lukeweber commented on #167
Another interesting point about this. Once this starts happening, if you kill the app and reopen it sends a lot of events to segment. Then do nothing in the app and about 10 seconds later it send the same chunk of data again and again.

[2015-02-06 18:45] lukeweber commented on #167
On the debugger we're seeing way too many events coming past.

[2015-02-06 19:44] krohnjw opened #168 "Event logging broken with Flurry 5.1.0"
App crashes when logging events with Flurry 5.1.0 included with the project.   It looks like setUseHttps was removed in the 5.0 release:

https://developer.yahoo.com/flurry/docs/analytics/gettingstarted/android_sdk_upgrade_5/

Using Segment 2.5.3

Flurry works as expected when segment is not invoked to log events.

    02-06 13:41:54.718    8032-8032/com.parkwhiz.driverApp E/AndroidRuntime﹕ FATAL

[2015-02-06 19:50] f2prateek commented on #168
You should be using the version of the flurry SDK we depend on, which is 4.1.0 until we update it. https://github.com/segmentio/analytics-android/tree/master/libs

[2015-02-07 01:37] alperkokmen opened #169 "identify(String userId) payload is missing userId attribute"
It looks like the method that accepts a single `String` argument `userId` is not generating the proper response. In order to get `userId` (top-level attribute) set properly, I needed set `userId` in the trait argument.

[code]

[code]

[2015-02-07 02:08] f2prateek commented on #169
That's weird, it just calls [`identify(userId, null, null);`](https://github.com/segmentio/analytics-android/blob/master/core/src/main/java/com/segment/analytics/Analytics.java#L255).

[2015-02-07 02:12] alperkokmen commented on #169
right. i think the root cause here is second parameter (`newTraits`) being `null`. even though it gets set in [`traitsCache`](https://github.com/segmentio/analytics-android/blob/master/core/src/main/java/com/segment/analytics/Analytics.java#L283), in [`BasePayload` constructor](https://github.com/segmentio/analytics-android/blob/master/core/src/main/java/com/segment/analytics/BasePayload.java#L83)

[2015-02-07 02:29] f2prateek commented on #169
Ah I see it now, thanks!

[2015-02-07 10:45] somghosh commented on #160
@f2prateek let us know when you have a solution for this. Many thanks in advance

[2015-02-09 19:35] tigerpenguin opened #170 "2.5.3 tag missing"
On maven, I see 2.5.1 and 2.5.3, but no 2.5.2 - http://search.maven.org/#browse%7C-1694329187

On github, I see 2.5.1 tag and 2.5.2 tag, but no 2.5.3 tag. Did you mean to tag/release 2.5.3 on github?

[2015-02-10 01:16] sperand-io opened #171 "Mixpanel: Support incrementing numerical events via options.increments"
https://segment.zendesk.com/agent/tickets/24168

![](https://cloudup.com/coW957Ys-pY+)

prior art: [analytics.js](https://github.com/segmentio/analytics.js-integrations/blob/master/lib/mixpanel/index.js#L171-L175) | [server-side](https://github.com/segmentio/integration-mixpanel/blob/master/lib/index.js#L252-L284) | [iOS](https://github.com/segmentio/analytics-ios/blob/master/Analytics/Integration

[2015-02-10 04:47] drspaceboo opened #172 "QueueFile crash"
We recently added the Segment IO SDK into our application. Since then we have seen an increasing number of crashes caused within the SDK due to Tape. It appears that an exception is being thrown but not handled.

This crash is now the 2nd most prevalent crash in our application.

Below is the stack trace we are getting via HockeyApp:
[code]

While trying to debug it internally we also hit the foll

[2015-02-10 05:32] f2prateek commented on #170
Yes, there is actually no 2.5.2 release. On github the 2.5.2 tag should have been 2.5.3 (something wrong with our release script). I'll push up the 2.5.3 tag soon, sorry for the inconvenience.

[2015-02-10 05:33] f2prateek commented on #172
`FileObjectQueue` doesn't exist in the latest version, so I'm not sure how you're running into that issue. Can you make sure this is absolutely on the latest version?

[2015-02-10 05:38] f2prateek commented on #172
The second error is something we've had reported, I'm hoping to have it fixed for v3.

[2015-02-10 06:02] drspaceboo commented on #172
You're correct. I must have checked our latest development build and we have switched to a newer build and from All to Core.

Looks like our old version was using `2.4.6`. So when we release this new build that uses 2.5.3 Core we won't have the issue?

[2015-02-12 04:35] f2prateek commented on #170
2.5.3 should be up now.

[2015-02-12 04:35] #170 closed

[2015-02-12 04:36] #168 closed

[2015-02-12 04:37] f2prateek opened #173 "Update Flurry Integration"
Flurry has released a v5 of their SDK which has some breaking changes.

https://developer.yahoo.com/flurry/docs/analytics/gettingstarted/android/

[2015-02-12 04:38] f2prateek commented on #167
(Already done in v3, closing for now)

[2015-02-12 04:38] #167 closed

[2015-02-12 04:39] f2prateek commented on #163
Let me know if this is still occurring without using multiple clients.

[2015-02-12 04:40] #163 closed

[2015-02-12 05:14] f2prateek opened #175 "Error: Message is already in use"
[code]

https://segment.zendesk.com/agent/tickets/20931

[2015-02-12 05:24] f2prateek opened #176 "Move hosted Integrations to CDN"
So we can make a real release!

[2015-02-13 16:25] adrienkohlbecker commented on #165
Hi @f2prateek ! I'm the guy who submitted this ticket.
Do you have an estimate on when this will be implemented ?
I'm willing to help with a PR if you give me some pointers

[2015-02-13 17:24] f2prateek commented on #165
@adrienkohlbecker This might need a bit of structuring, but if you want to tackle it, thanks for volunteering a fix! Basically you'll need to fill this [`JSONObject`](https://github.com/segmentio/analytics-android/blob/master/analytics-integrations/mixpanel/src/main/java/com/segment/analytics/internal/integrations/MixpanelIntegration.java#L103) with the right keys.

So, for instance, email would b

[2015-02-13 17:57] adrienkohlbecker commented on #165
Looking at the code, shouldn't it be done in the identify call for the People properties? ($email, $first_name...)
Here: https://github.com/segmentio/analytics-android/blob/master/analytics-integrations/mixpanel/src/main/java/com/segment/analytics/internal/integrations/MixpanelIntegration.java#L69

While v3 is unreleased, is there a way to do this inside my app, such as calling identify on the Mix

[2015-02-13 18:11] f2prateek opened #179 "Improve Flush Behaviour"
Payloads are flushed on the same thread that payloads are added to `QueueFile`. This means while we're flushing, we stop saving messages to the disk queue, which can lead to messages being dropped.
The solution would be to read the first `n` (rather the first `n` elements that don't exceed our size limit) elements from `QueueFile`, and then flush it on a dedicated thread. We can only flush one bat

[2015-02-13 21:49] nashira commented on #163
This is happening to me on com.segment.analytics.android:core:2.5.1@aar, definitely a single instance of Analytics.

[2015-02-13 21:50] f2prateek commented on #163
@nashira can you try in 2.5.3?

[2015-02-13 21:55] nashira commented on #163
It's a somewhat rare crash, I'd rather not push a new build based on hope.  Updating to 2.5.1 has already been problematic.  It will be a while before I can verify it helps.  Thanks.

[2015-02-13 21:56] f2prateek commented on #163
Well 2.5.3 doesn't fix the underlying issue - but it does handle the exception better so your app won't crash.

[2015-02-14 22:58] f2prateek opened #182 "Configurable Flush Policy"
Currently when a flush is triggered, we only check whether the device is connected to determine whether to proceed or not.  We should offer a configurable way to let clients add additional conditions for this.

[code]

[2015-02-14 22:58] f2prateek commented on #182
Useful for Here.com

[2015-02-14 23:04] f2prateek opened #183 "Don't fill context"
For privacy reasons, some clients may not want us to collect ANY device information. We should add a builder parameter, that skips collecting this information.

The only thing we will set in that case, is the [library information](https://github.com/segmentio/analytics-android/blob/master/analytics-core/src/main/java/com/segment/analytics/AnalyticsContext.java#L340) which is required to transform

[2015-02-14 23:07] f2prateek commented on #183
For context, [this is what we currently collect](https://github.com/segmentio/analytics-android/blob/master/analytics-core/src/main/java/com/segment/analytics/AnalyticsContext.java#L111).

[2015-02-15 18:25] appmagnetics opened #185 "endBatchArray.assertionError"
Crash happened 200 times on our customer app. Included in gradle like:
    compile 'com.segment.analytics.android:core:+'

java.lang.AssertionError: At least one payload must be provided.
       at com.segment.analytics.Segment$BatchPayloadWriter.endBatchArray(Segment.java:263)
       at com.segment.analytics.Segment$PayloadQueueFileStreamWriter.write(Segment.java:203)
       at com.segment.analyt

[2015-02-15 18:52] f2prateek commented on #185
Fixed in https://github.com/segmentio/analytics-android/commit/ca15df4e8a62650d4d3a82ce8da8873aedc870db which was released in 2.5.3. Make sure you're using the latest version.

[2015-02-15 18:52] #185 closed

[2015-02-17 17:13] joluet opened #186 "Dev mode in Leanplum integration not working"
We want to use the Leanplum integration for A/B testing. But as the segmentio sdk always uses the Leanplum app id for production mode we're just not able to register new variables with Leanplum.

[Here](https://github.com/segmentio/analytics-android/blob/e06472312702c3f70ee7af85a2c977b6563a2db4/analytics-integrations/leanplum/src/main/java/com/segment/analytics/internal/integrations/LeanplumIntegr

[2015-02-17 17:33] f2prateek opened #187 "Update Leanplum SDK to 1.2.8"

[2015-02-17 17:35] f2prateek commented on #186
Why do you have to be in development mode to register new variables?

[2015-02-17 23:41] f2prateek opened #188 "Update Mixpanel Integration to 4.5.3"

[2015-02-18 02:24] #169 closed

[2015-02-18 12:22] joluet commented on #186
Ok, seems like I can create variables without the development mode. But it is still very inconvenient not to be able to use the development mode for testing. Please include it.

[2015-02-18 18:18] f2prateek commented on #186
@joluet What do you need in development mode? Our recommendation is to simply setup a different Segment project with a different Leanplum project for development, and just swap those writeKeys in development and production mode.

[2015-02-18 18:37] f2prateek opened #190 "Rename `skipBundledIntegrations` to `disableBundledIntegrations`"

[2015-02-18 22:36] msimr commented on #165
@adrienkohlbecker Yep and this is how it's done in iOS.
https://github.com/segmentio/analytics-ios/blob/master/Analytics/Integrations/Mixpanel/SEGMixpanelIntegration.m#L49

[2015-02-18 23:14] f2prateek opened #191 "Update Localytics SDK"
Version 3.0.0 was incompatible with our SDK, but 3.0.1 adds a way to specify the keys at runtime.

https://support.localytics.com/SDK_Downloads.

[2015-02-20 01:01] lambtron commented on #171
https://segment.zendesk.com/agent/tickets/24746

[2015-02-20 20:40] lambtron commented on #171
https://segment.zendesk.com/agent/tickets/24863

[2015-02-20 22:39] #186 closed

[2015-02-21 01:23] #190 closed

[2015-02-21 01:23] #188 closed

[2015-02-21 02:01] #160 closed

[2015-02-21 02:04] somghosh commented on #160
Many thanks @f2prateek . Could you please let me know if anything has changed in the aliasing syntax/function now ? tx

[2015-02-21 05:00] f2prateek commented on #160
@somghosh This is how the new version will work. We'll automatically do the right things in the background.
[code]

[2015-02-23 16:54] joluet commented on #169
@f2prateek is there a workaround for this until the new version is released?

[2015-02-23 17:12] joluet commented on #169
Ok, this seems to work, I just added traits when identifying the user. Is this right usage?:

[code]

[2015-02-23 17:26] f2prateek commented on #182
Another way to do this would be to allow users to set their own network executor, that will simply reject the task.

[2015-02-23 17:33] #187 closed

[2015-02-24 10:52] joluet commented on #186
Thanks, then we're do that.

[2015-02-25 00:39] f2prateek commented on #165
Closed by https://github.com/segmentio/analytics-android/commit/d83426a8cd689cfa7865d28f9505e0c9fc3bbf9e

[2015-02-25 00:39] #165 closed

[2015-02-25 00:40] f2prateek commented on #182
Users can do this by passing in a custom executor.

[2015-02-25 00:40] #182 closed

[2015-02-25 00:41] adrienkohlbecker commented on #165
This is great! I'm releasing the app tomorrow so good timing :)
How can I use it? You talked about a snapshot?

[2015-02-25 00:45] f2prateek commented on #165
Yes, a snapshot is available on Sonatype, and I'm releasing it on central right now (will be available in a couple of hours). It's a breaking release, so you might have to change some code around, we'll have a migration guide up tomorrow as well.

[2015-02-25 21:21] #173 closed

[2015-02-26 03:36] aman400 commented on #172
Still have same issue with new newer build.. it crashes my application..

[2015-02-26 04:50] f2prateek commented on #172
Which build? Can you send the full stack trace?

[2015-02-26 15:49] adrienkohlbecker opened #201 "NullPointerException in AppsFlyerIntegration.initialize"
Hello,
I'm getting a NullPointerException, using the latest snapshot.
It happens when initializing the AppsFlyerIntegration, which I do not have activated.
Here is the stacktrace:

[code]

Here is my gradle config:

[code]

[2015-02-26 16:24] f2prateek commented on #201
Could you enable debugging and post a complete stack trace?

Also you can change your config to simply:

[code]

[2015-02-26 16:44] f2prateek commented on #201
@adrienkohlbecker I'll merge in the change today, but do send me the debugging logs. AppsFlyer should never be being loaded.

[2015-02-26 17:52] aman400 commented on #172
I'm using build v2.5.3.. here is the bug report..

java.lang.ArrayIndexOutOfBoundsException: length=4096; regionStart=0; regionLength=-1046
       at java.util.Arrays.checkOffsetAndCount(Arrays.java:1719)
       at libcore.io.IoBridge.write(IoBridge.java:491)
       at java.io.RandomAccessFile.write(RandomAccessFile.java:688)
       at com.segment.analytics.QueueFile.ringWrite(QueueFile.java:242)

[2015-02-26 17:57] f2prateek commented on #172
How are you initializing the Analytics client, and how are you sending events?

[2015-02-26 18:17] adrienkohlbecker commented on #201
Great. I'm not sure how to do that though

[2015-02-26 18:18] adrienkohlbecker commented on #201
Btw, If I use the analytics package or the list like in my post, I still have to include the jar and other dependencies for the integrations right ?

[2015-02-26 18:21] f2prateek commented on #201
@adrienkohlbecker just call `Analytics.Builder#setLogLevel(LogLevel.BASIC);`  when you'r initializing the client. Also, using the `analytics` artifact I suggested, you don't have to manually include anything else, everything will be pulled in automatically.

[2015-02-26 19:03] adrienkohlbecker commented on #201
[code]

[2015-02-26 22:08] f2prateek commented on #201
@adrienkohlbecker weird, looks like there is an empty map for `AppsFlyer` which shouldn't be happening. Could you send me the name of your org/user and project on Segment?

[2015-02-26 22:10] adrienkohlbecker commented on #201
sharette/app-staging

[2015-02-26 22:14] f2prateek commented on #201
Hmm..looks like our API is returning the right data. I'll merge the fix in so you can try it out.

[2015-02-26 22:26] adrienkohlbecker commented on #201
Thanks! Ping me when it's online :)

[2015-02-26 22:39] #201 closed

[2015-02-27 03:52] aman400 commented on #172
I have a singleton class for using it..

public class SegmentAnalyticsSingleton
{
    private static Analytics analytics;
    public static Analytics getInstance(Context context)
    {
        if (analytics == null)
        {
            analytics = new Analytics.Builder(context, SegmentIO_key).build();
        }
        return analytics;
    }
}

In order to send event I use it like this:
Segment

[2015-02-27 04:44] f2prateek commented on #172
@aman400 , could you try the latest build (3.0.0) and enable logging and post the output here?

[2015-02-27 05:18] aman400 commented on #172
okay, I'll give it a try. But the problem is that crash is random.

[2015-02-27 15:25] adrienkohlbecker commented on #201
I'm getting this error when using the analytics artifact, Gradle won't sync:

[code]

[2015-02-27 18:42] f2prateek commented on #201
@adrienkohlbecker ugh, I forgot about that build system bug. You might have to manually list all the integrations as you had before for now sorry. Let me contact the Android tools team and see if there is a work around.

[2015-02-27 18:45] f2prateek commented on #201
whoops, actually looks like this one was my bad. Fixing now.

[2015-02-27 18:49] f2prateek opened #205 "Transitive dependencies not being pulled in"
[code]
Ref #201 .

[2015-03-01 07:34] f2prateek commented on #201
@adrienkohlbecker Here's a workaround for now:

[code]

[2015-03-01 17:45] adrienkohlbecker opened #209 "$created for Mixpanel"
Hello,

At https://github.com/segmentio/analytics-android/blob/master/analytics-integrations/mixpanel/src/main/java/com/segment/analytics/internal/integrations/MixpanelIntegration.java#L55
It should be `$created`, not `$create`
According to https://mixpanel.com/docs/properties-or-segments/special-or-reserved-properties

[2015-03-01 18:21] adrienkohlbecker commented on #201
For now I've gone back to the released version, it was a bit too unstable for me :)

[2015-03-01 18:26] adrienkohlbecker opened #210 "Install referrer tracking"
It would be nice if Segment would track the Install Referrer automatically, for now I've set it up with my integrations as:

[code]

In AndroidManifest.xml

[code]

[2015-03-01 20:58] #209 closed

[2015-03-01 22:24] f2prateek commented on #209
good catch!

[2015-03-03 16:42] danish489 opened #213 "Multiple warnings in Android Studio when using segment ver 2.5.3"
This issue is similar to a previously reported one by phil-brown in Nov 2014 (https://github.com/segmentio/analytics-android/issues/120). I'm getting 99 warning as a result and that is bringing my launch time to 4 minutes as opposed to a few seconds. The previous issue is marked closed but we don't know what fixed it.

Gradle file:

dependencies {
     [...]
    compile('com.segment.analytics.andr

[2015-03-03 18:01] f2prateek commented on #213
There isn't anything we (or you) can do here. I've asked Leanplum to fix this but haven't heard back from them.

[2015-03-03 18:01] #213 closed

[2015-03-04 18:51] kellyfj opened #214 "Doc says Java 8 is required but I thought Android says Java 7"
Pretty sure Android still supports up to JDK 7 https://source.android.com/source/initializing.html but not 8 yet?

[2015-03-04 20:37] f2prateek commented on #214
Java 7 is needed to assemble the SDK since we use diamond operators. The Java 8 requirement is for some of the JSON tests that are currently dependent on the ordering of map elements, which differs between Java 7 and Java 8.

This doesn't affect consumers since you can use  the newer Java 7 language features (other than try with resources) on older devices. http://tools.android.com/tech-docs/new-b

[2015-03-04 23:06] julioyg commented on #163
Cool, we're gonna try it as well We've been having the same issue

[2015-03-05 01:21] julioyg commented on #163
@f2prateek Is there any way to change the `writeKey` for an existing `Analytics` object? or should I create a new instance if I wanna change it?

[2015-03-05 03:22] f2prateek commented on #163
@julioyg yes, the instances are immutable so you can only set the writeKey once on creation.

[2015-03-05 07:06] julioyg opened #217 "NullPointerException in FlurryIntegration.initialize(FlurryIntegration.java:35)"
I'm getting this exception trying to integrate Flurry

[code]

[2015-03-05 07:42] julioyg commented on #217
These are the dependencies I've declared in the gradle file

[code]

And here is the trace before the exception

[code]

[2015-03-05 14:18] adrienkohlbecker opened #218 "Update tapstream SDK to comply with Google policies"
Hello,

I've juste received this warning from Google,

 > • (Personal and Confidential Information): We don't allow unauthorized publishing or disclosure of people's private and confidential information, such as credit card numbers, government identification numbers, driver's and other license numbers, non-public contacts, or any other information that is not publicly accessible.

According to Tap

[2015-03-05 14:22] adrienkohlbecker commented on #218
I don't know if any other integrations are affected, but I'd probably check :)

[2015-03-05 17:47] f2prateek commented on #217
@julioyg Could you let meek now your Segment project?

[2015-03-05 17:49] #218 closed

[2015-03-05 18:02] julioyg commented on #217
Trov/Maui-Production

On Thu, Mar 5, 2015, 09:47 Prateek Srivastava <notifications@github.com>
wrote:

[2015-03-05 18:38] f2prateek commented on #217
aef939dc00f37a2ba5a9e43d66e56a65ac7ca5a2 fixes this.

You'll can try it out by adding the snapshot repository and using version 3.0.1-SNAPSHOT. We'll make a release soon after you can confirm this fixes it!
[code]

[2015-03-05 19:13] #217 closed

[2015-03-05 19:36] julioyg commented on #217
Kk, thanks for your answer, I'll try and let you know how it goes.

On Thu, Mar 5, 2015, 11:13 Prateek Srivastava <notifications@github.com>
wrote:

[2015-03-06 00:58] #171 closed

[2015-03-06 01:35] julioyg commented on #217
Works, Thanks :)

[2015-03-06 02:47] #205 closed

[2015-03-06 03:18] f2prateek commented on #214
Updated the ready to reflect this.

[2015-03-06 03:18] #214 closed

[2015-03-08 10:56] ofermoshsaioff opened #223 "Crash in QueueFile.setLength"
We've recently integrated segment.io in our Android app and a small segment of our users are experiencing a recurring crash, this seems to be happening whenever they open the app. Here's the stack trace from Crashlytics:

[code]

We are using the Core library version 2.5.3.

[2015-03-08 17:08] f2prateek commented on #223
This is fixed in the latest release (3.0.0). Please re-open if you're seeing it on the latest version.

[2015-03-08 17:08] #223 closed

[2015-03-09 17:29] adrienkohlbecker opened #224 "Don't send "null" to mixpanel"
Hello,

When there are no firstName/lastName or other mixpanel special properties in my identify call, they get sent as "null" to mixpanel.
In the browser or in iOS they are not sent at all, which is expected
For example:
![screenshot 2015-03-09 18 26 17](https://cloud.githubusercontent.com/assets/70469/6560400/14ab91cc-c68a-11e4-8846-837147e58891.png)
Cheers!

[2015-03-09 23:20] f2prateek commented on #224
Weird, I have a PR to potentially fix this, but in any case, putting null into a JSONObject will simply remove that key (which in our case is the same as not putting in a value for that key). Not quite sure why it shows up as null in your case, haven't seen this before.

[2015-03-09 23:24] f2prateek commented on #224
Ah got it, it's because of the JSONObject map constructor we're using, that retains any null values in the map.

[2015-03-10 01:31] f2prateek commented on #224
@adrienkohlbecker Does this happen if you don't set firstName, or when you explicitly set the firstName to null.

Fro context, the problem with my PR is that what if you want to clear the firstName explicitly by setting it as null. I'm not sure if that's a common use case, but seems like something we should honor.

[2015-03-10 13:55] adrienkohlbecker commented on #224
So I did some more investigating on my part:
In the segment webhooks I'm also receiving a value of `"null"` so this is not specific to Mixpanel.
What I'm currently doing that results in this behaviour is this `traits.putValue("firstName", JSONObject.NULL)`
And `JSONObject.NULL.toString() == "null"`

I then tried this: `traits.putValue("firstName", null)` but this results in a NullPointerException:

[2015-03-10 16:38] f2prateek commented on #224
Interesting, why are you explicitly setting null? Seems to me this is the expected behaviour (that we send null to Mixpanel) as well. Unless this is happening automatically, when firstName is not set, I don't see this would be be a bug.

[2015-03-10 18:28] adrienkohlbecker commented on #224
As you said before, I guess the use case is if you want to remove a value that was set by a previous call
But anyways for me the bug is not sending `null`, it is sending
`"null"` (the string). I'd actually expect `null` to be sent like you said

[2015-03-13 23:49] adrien-aubel commented on #172
With 3.0.1 I got this:
[code]

Consistently prevents the app from starting. This is a major issue for us. Do you have any news about this issue?

[2015-03-14 00:37] f2prateek commented on #172
@adrien-aubel I think you're missing some logs there. `SegmentDispatcher.java:391` doesn't call the `remove` method.

[2015-03-14 00:39] adrien-aubel commented on #172
@f2prateek that's weird, this is what I got from Crashlytics. Release mode btw.

[2015-03-14 00:41] f2prateek commented on #172
@adrien-aubel weird, let me know if you see a more detailed log by any chance. We're updating the behaviour to handle this better in 3.0.2 (and we have been for a while), but it's hard to get a reproducible case to verify this behaviour.

[2015-03-14 00:48] adrien-aubel commented on #172
Could you maybe catch `ArrayIndexOutOfBoundsException` the same way you catch `IOException` every time you call `remove`?

[2015-03-14 00:56] adrien-aubel commented on #172
@f2prateek do you have any ETA for 3.0.2?

[2015-03-14 01:29] adrien-aubel commented on #172
Would you have by any chance steps that the user should follow if he wants to fix the problem without uninstalling the app and lose his data?

[2015-03-15 21:07] somghosh opened #229 "Mixpanel integration not using the special properties $email, $first_name but creating variables with slightly different names"
I am sending the following code to identify the user, however the Mixpanel integration isn't populating the correct properties in People

            previousId = getAnalytics().identify(
                    String.valueOf(userData.getId()),
                    new Traits()
                            .putFirstName(userData.getFirstName())
                            .putLastName(userData.getLastN

[2015-03-15 22:34] f2prateek commented on #229
@somghosh This is fixed in the latest version, please make sure you're using that.

[2015-03-17 12:29] somghosh commented on #229
Thanks @f2prateek . I just tried with the following code in my build.gradle

    // segment.io not all
    compile('com.segment.analytics.android:core:+') {
        transitive = true
    }
    // Add other dependencies as you want here
    compile 'com.google.android.gms:play-services:6.5.87'
    compile "com.mixpanel.android:mixpanel-android:4.5.3"

I am assuming this takes the last version of yo

[2015-03-17 12:51] somghosh commented on #229
I checked that the library is 2.5.3 - which I believe is the last version

[2015-03-17 16:29] f2prateek commented on #229
No, that is not the latest version. See https://github.com/segmentio/analytics-android/releases.

We've changed how we package integrations in the new version, you can read the new way to add Segment to your app here - https://segment.com/docs/libraries/android/quickstart/.

[2015-03-17 16:29] #229 closed

[2015-03-17 16:32] somghosh commented on #229
Thanks @f2prateek - just noticing. I usually put the libraries/packages via gradle - I dont see a higher version than 2.5.3 on gradle yet

[2015-03-17 16:35] somghosh commented on #229
Just seeing the change of name of the package! I was following the full-tutorial, not the quickstart one - hence the confusion. Maybe you should update it later when you get a bit. Many thanks

[2015-03-17 18:18] f2prateek commented on #229
It is in the full documentation as well, just a little bit lower down (https://segment.com/docs/libraries/android/#custom-builds). Let me know if you see any outdated references.

[2015-03-19 20:18] johnryan opened #231 "Activity lifecycle methods blocking main thread"
As far as I can tell whenever i start an activity a flurry of Segment events get fired off. Is this necessary? If not how can I disable? If it is, can it be performed on a background thread?

[2015-03-19 21:11] f2prateek commented on #231
These are offloaded onto a background thread, and they cannot be disabled if you want integrations to work.

[2015-03-19 21:13] f2prateek commented on #231
How are they blocking the main thread?

[2015-03-19 21:15] johnryan commented on #231
Sorry about that...after further investigation it was something else happening at the same time (on the main thread that was causing issues). Thanks for the response.

[2015-03-19 21:15] #231 closed

[2015-03-19 21:58] f2prateek commented on #231
Cool, feel free to let us know if you run into any other issues!

[2015-03-24 22:22] julioyg opened #232 "NullPointerException AppsFlyerIntegration.initialize(AppsFlyerIntegration.java:40)"
I'm getting this error trying to integrate appsFlyer library.

[code]

these are the dependencies I've added to my project

[code]

And the repository I'm pointing at is: `    maven { url 'https://oss.sonatype.org/content/repositories/snapshots/' }`

[2015-03-24 23:20] f2prateek commented on #232
This bug is fixed, you should change your core dependency to the latest one as well.

[2015-03-24 23:20] #232 closed

[2015-03-26 18:49] f2prateek opened #234 "Log when an event is disabled in the tracking plan"

[2015-03-27 17:55] #191 closed

[2015-03-27 17:56] #183 closed

[2015-03-27 17:56] f2prateek commented on #183
Closing for now. Feel free to comment here if you need this behaviour.

[2015-04-02 19:08] appmagnetics commented on #172
This issue is constantly on top of our Crashlytics statistics. Using 2.5.3.

java.lang.ArrayIndexOutOfBoundsException: length=4096; regionStart=0; regionLength=-1476
       at java.util.Arrays.checkOffsetAndCount(Arrays.java:1732)
       at libcore.io.IoBridge.write(IoBridge.java:444)
       at java.io.RandomAccessFile.write(RandomAccessFile.java:689)
       at com.segment.analytics.QueueFile.ring

[2015-04-02 19:13] wcjohnson11 opened #240 "Mixpanel SpecialProperties should be SuperProperties"
We should rename SpecialProperties to SuperProperties [in our Android Mixpanel Integration](https://github.com/segmentio/analytics-android/blob/master/analytics-integrations/mixpanel/src/main/java/com/segment/analytics/internal/integrations/MixpanelIntegration.java#L47) to match [Mixpanel's Documentation](https://mixpanel.com/help/reference/android#superproperties) as well as our [iOS integration.

[2015-04-02 20:44] f2prateek commented on #172
@appmagnetics try updating to 3.0.2

[2015-04-02 20:47] appmagnetics commented on #172
That's not so easy - I see in comments above someone trying 3.0.1 and saying it basically got worse - his app did not start. We cannot reproduce this issue by ourselves and we have 4000 customers for our app - we just cannot allow to release a new version and get the app crashed by them.

[2015-04-02 21:36] #240 closed

[2015-04-02 22:27] adrien-aubel commented on #172
@appmagnetics we didn't try 3.0.2 but since we were only using Mixpanel we unfortunately removed Segment.io to use directly Mixpanel SDK for the time being.
It was an easy switch for us since there was an abstraction on top of Segment.io, but depending on the time this would take you, you may consider a progressive rollout on the Google Play Store developer console instead.

[2015-04-03 02:52] f2prateek commented on #172
@appmagnetics @adrien-aubel How are you initializing the Analytics client - specifically the queueSize?

[2015-04-04 18:53] appmagnetics commented on #172
@f2prateek we do no special settings concerning queueSize or something else:

analytics = new Analytics.Builder(context, App.getString03()).build();

[2015-04-04 21:08] f2prateek commented on #172
How do you call use the analytics client? If it's through a helper class, can you share the implementation?

[2015-04-10 09:02] appmagnetics commented on #172
The issue can be actually fixed without further understanding, right? Either catch the exception of check boundaries before access. Will you be willing to fix 2.5.x version? If not, the discussion is worthless - if we want to avoid this crash we will have to try 3.x.x.

[2015-04-10 14:23] f2prateek commented on #172
We can't simply catch the exception - those items will be stuck in the disk queue forever and constantly be uploading.

The issue is that queueFile is reporting it's size as 0 - a state that is explicitly disallowed. Either the bug is in our implementation, QueueFile or the data that's you're sending, and we don't know what the core issue is yet.

[2015-04-14 16:32] f2prateek commented on #172
@drspaceboo @appmagnetics @adrien-aubel @aman400 are you all using proguard?

[2015-04-14 20:15] appmagnetics commented on #172
Yes, we are using proguard

[2015-04-14 21:38] drspaceboo commented on #172
Yeah of course.

These are the rules we added for Segment IO:
[code]

These are the warnings we get if we don't have "dontwarn" turned on:
[code]

[2015-04-16 23:37] emptyarray opened #255 "onIntegrationReady callback not called"
I am trying to access my Mixpanel instance as suggested here:

[code]
There are two problem:

```onIntegrationReady``` does not exist on ```Callback```, only ```onReady```. This sounds like the docs are outdated. So I changed it to this:

[code]
```onReady``` never seems to run, so I cannot access the Mixpanel instance, which I need for a bunch of stuff.

Thanks for looking into it.

[2015-04-17 00:04] emptyarray commented on #255
I solved this with Proguard rules: https://github.com/segmentio/analytics-android/issues/109

+1 for updating docs with Proguard.

[2015-04-17 23:00] somghosh opened #257 "last seen"

[2015-04-17 23:00] #257 closed

[2015-04-17 23:01] somghosh opened #258 "Bypassing last seen on Mixpanel"
Is there a way to do the following in the android library?

https://segment.com/docs/integrations/mixpanel/#bypass-last-seen-in-server-side-calls

You can bypass the automatic re-setting of the “Last Seen” date property by passing active with a value of false in the context object, as follows:

	analytics.identify(user_id='12345', traits={
	    'name': 'Frank'}, context={
	    'active': false

[2015-04-18 01:50] f2prateek commented on #258
If you're using the server side integration, you can add it to the global context dictionary (`analytics.getContext()`) for now. The bundled integration currently doesn't support this however.

[2015-04-20 17:27] f2prateek commented on #109
Added to our public docs, closing.

[2015-04-20 17:27] #109 closed

[2015-04-20 17:28] f2prateek commented on #255
Thanks, I've added a section on our FAQ.

[2015-04-20 17:28] #255 closed

[2015-04-20 17:32] #132 closed

[2015-04-20 17:32] f2prateek commented on #132
added on site-docs

[2015-04-20 23:51] f2prateek commented on #166
Closing this - the only warnings we have currently are for disk reads on the main thread when we create the QueueFile during initialization.

[2015-04-20 23:51] #166 closed

[2015-04-22 12:26] pepibumur opened #262 "NullPointerException getting advertising id"
### What?
I'm getting fatal crashes from the library due to a NullPointerException.
This is the stack trace:

[code]

[2015-04-22 15:35] f2prateek commented on #262
Looks like this is on the latest version, can you confirm? Also do you have Play Services packaged with your app?

[2015-04-22 16:28] f2prateek commented on #262
If you are on the latest version (3.1.0), [this block](https://github.com/segmentio/analytics-android/blob/master/analytics-core/src/main/java/com/segment/analytics/GetAdvertisingIdTask.java#L31) should be catching the exception, it's weird this error is bubbling up.

[2015-04-22 19:11] pepibumur commented on #262
Thanks @f2prateek I'll try to update the library. I had this similar error some other times before.

[2015-04-22 19:54] f2prateek commented on #262
@pepibumur Thanks, could you let me know which version you're seeing this error on btw?

[2015-04-23 12:28] kellyfj opened #263 "ArrayIndexOutOfBoundsException in QueueFile.remove()"
Hi Prateek,

We discovered this during testing

Version 3.0.3 - March 20th 2015

[code]

[2015-04-23 14:14] pepibumur commented on #262
3.0.1 @f2prateek

[2015-04-23 19:05] f2prateek commented on #263
@kellyfj There is a potential fix for this in 3.1.0 - it doesn't catch this particular exception but should be able to recover on the next launch. Unless there is a reproducible case, we can't act on this alone.

For 3.1.1, I'm actually going to probably add some additional logging so it shows more context in the crash reports that will hopefully get us better insights into this.

[2015-04-23 19:06] f2prateek commented on #263
Related to #172

[2015-04-23 19:09] f2prateek commented on #262
Oh, so this i where the crash is happening https://github.com/segmentio/analytics-android/blob/3.0.1/analytics-core/src/main/java/com/segment/analytics/GetAdvertisingIdTask.java#L29.

Are you setting a custom value for device in the context? That's the only reason why it would be `null`.

[2015-04-27 22:38] kellyfj commented on #263
I upgraded this morning to the latest 3.1.0 (technically it's labelled 3.1.1-SNAPSHOT) and still got the following during one test run

[code]

[2015-04-27 22:55] f2prateek commented on #263
@kellyfj Is it a reproducible test run?

[2015-04-27 23:03] kellyfj commented on #263
Nope maybe 1 in 20 - although I will say the few times I've seen it I was generally getting a 400 bad request or 500 internal server error back from the server. Not sure if that helps to debug/diagnose?

[2015-04-27 23:41] f2prateek commented on #263
Yup it does, do you happen to have the exact responses returned by the server? I can try to simulate those conditions.

Additionally, our servers now return 200 regardless of whats sent to it, so you should make sure your proxy does the the same since we might not handle those responses correctly in our SDK.

[2015-04-28 00:01] kellyfj commented on #263
All I can see from the logs is a 400 and a 500. FYI our proxy is involved only on fetchSettings(). upload() calls communicate directly with Segment.

[2015-04-28 04:34] f2prateek commented on #263
Interesting, could you send us the son being uploaded next time you see a non-200 response on upload? Our SDK forms the JSON itself, so it should never be rejected by our servers.

[2015-04-29 16:46] bivalkar opened #269 "EOF exception when trying to flush"
[code]

[2015-04-29 18:07] f2prateek commented on #269
I don't think this is coming from our library, we don't have a class called `SegmentMessageParser.java` and we definitely don't use Jackson. I think the issue is that something is trying to tell our library to upload a request that is not formatted correctly.

Could you hook up the app to Charles or some proxy and give us the exact request (particularly the JSON in the body) that is being uploaded

[2015-05-01 19:51] f2prateek commented on #263
@kellyfj I've uploaded a new snapshot that adds more logging when this exception occurs. Should be available in a bit https://oss.sonatype.org/content/repositories/snapshots/com/segment/analytics/android/analytics-core/3.1.1-SNAPSHOT/

[2015-05-01 20:20] kellyfj commented on #263
Thanks - I'll take a stab at this on Monday. I think we've got a reproducible case when Queue gets up to 900+ elements. Hopefully can isolate it and create a test to send your way.

[2015-05-01 20:37] f2prateek commented on #263
Sweet, that would be perfect. Thanks!

[2015-05-05 11:54] bishwash72 opened #273 "Test cases Failed in latest commit on master."
Test cases Failed in latest commit on master or am I making some mistakes when running test cases.

[2015-05-05 16:31] f2prateek commented on #273
Which tests? Everything is green locally and on our CI https://circleci.com/gh/segmentio/analytics-android

[2015-05-05 16:31] #273 closed

[2015-05-10 13:26] adrienkohlbecker opened #278 "Could not initialize integration Google Analytics (null object reference)"
Hello,
I'm getting the following exception during initialization:

[code]

[2015-05-11 21:19] f2prateek commented on #278
Fixed in 60fc9a264cda6172df123b00e824c517c3a8847d

[2015-05-11 21:19] #278 closed

[2015-05-11 21:20] f2prateek commented on #262
Closing this, let me know if you're still seeing this on the latest version.

[2015-05-11 21:20] #262 closed

[2015-05-11 21:36] f2prateek commented on #224
What if you just send a blank string ""?

[2015-05-21 01:46] #179 closed

[2015-06-02 20:31] #269 closed

[2015-06-02 20:31] #263 closed

[2015-06-02 20:32] f2prateek commented on #172
We've made some improvements in the latest versions that shouldn't cause this issue. Let me know if you still see any.

[2015-06-02 20:32] #172 closed

[2015-06-03 03:50] f2prateek commented on #258
@somghosh Btw why do you want to bypass a user from the mobile library? It makes sense in a server side context where you might be triggering events independent of user actions, but not on mobile right?

[2015-06-08 12:54] julioyg opened #292 "AppsFlyer integration doesn't send any data"
Hey guys, we're using segment to integrate AppsFlyer but for any unknown reason we don't see anything in our AppsFlyer dashboard.

these are the dependencies we have defined in our `gradle` file:

[code]

and this is the logcat out put we get:
[code]

and these are the permissions we have:
[code]

Also I've debugged the app, and the appsFlyer receiver receives the intents.

I would very appreciate

[2015-06-08 17:27] f2prateek commented on #292
@julioyg Could you send me the code you're using to track an event (like `analytics.track(....)`) and a screenshot of where in AppsFlyer you're looking for these events?

[2015-06-08 17:39] julioyg commented on #292
I've just sent it to your email. Thanks :)

[2015-06-08 18:32] f2prateek commented on #292
Installs are tracked directly via the AppsFlyer SDK and not through Segment, so this is an issue that needs to be raised with AppsFlyer.

[2015-06-08 18:32] #292 closed

[2015-06-08 18:38] f2prateek commented on #292
Additionally I'm updating the embedded AppsFlyer SDK in case there is an issue they've fixed.

[2015-06-09 11:37] somghosh opened #295 "How to add com.google.android.gms:play-services-analytics:7.0.0 to build.gradle"
My code is as follows in build.gradle - I get the following message however, I can't seem to find the library  required on repositories. Can you tell me the line to add in build.gradle to add it correctly?

Error:Could not find com.google.android.gms:play-services-analytics:7.0.0.
Required by:
    em-android:app:unspecified > com.segment.analytics.android:analytics-integration-google-analytics:3.1

[2015-06-09 16:01] f2prateek commented on #295
Nothing special, just follow the instructions required to setup google play services. Most likely you'll need to make sure you've installed it correctly - https://cloudup.com/czDwnNQvLxg.

https://developer.android.com/sdk/installing/adding-packages.html and
https://developers.google.com/android/guides/setup might help.

[2015-06-09 16:01] #295 closed

[2015-06-11 19:18] arango opened #297 "Fatal Crash with Kahuna"
Trying to get Kahuna push notifications working through Segment.  As soon as I added the project's GCM key to Segment, I am getting the following:

06-11 12:08:59.926  31826-31892/com.toplinegamelabs.dailymvp E/dalvikvm﹕ Could not find class 'com.kahuna.sdk.location.KahunaGeofenceRequester$1', referenced from method com.kahuna.sdk.location.KahunaGeofenceRequester.<init>
06-11 12:09:05.639  31826-3

[2015-06-11 20:32] f2prateek commented on #297
Are you using proguard?

[2015-06-11 20:47] arango commented on #297
No, this is just when building a debug build.

This seems to have fixed it, but not sure if there are other google play things I need to add to get things working:

    compile 'com.google.android.gms:play-services-gcm:7.5.0'
    compile 'com.google.android.gms:play-services-analytics:7.5.0'
    compile('com.segment.analytics.android:analytics:+@aar') {
        transitive = true
        exclude gr

[2015-06-11 20:52] f2prateek commented on #297
@TorreyKahuna might be able to help explain which Google Play dependencies are required by Kahuna.

[2015-06-11 21:07] arango commented on #297
Need to be able to support Google Analytics, Kahuna, Mixpanel, and MobileAppTracking.

[2015-06-11 21:13] arango commented on #297
Also, while I at least have it building now, I still can't push to it with Kahuna.   This look like about right for including in the Application onCreate?

        analytics.onIntegrationReady(Analytics.BundledIntegration.KAHUNA, new Analytics.Callback() {
            @Override
            public void onReady(Object instance) {
                KahunaAnalytics.onAppCreate(DailyMVPApplication.this,

[2015-06-11 21:15] TorreyKahuna commented on #297
@arango You will need com.google.android.gms:play-services-gcm for push
and com.google.android.gms:play-services-location if you want to use Kahuna Region Monitoring.

The onAppCreate looks fine, do you have any logcat logs that I can take a peek at? The Kahuna SDK should register for Push when your app starts.

[2015-06-11 22:10] arango commented on #297
Excellent.  I had gcm, but added location as well.

I didn't see much for Kahuna in the logs.  Just this:

06-11 15:06:09.741  13092-13126/? I/dalvikvm﹕ Failed resolving Lcom/kahuna/sdk/location/KahunaGeofenceRequester$1; interface 4462 'Lcom/google/android/gms/location/LocationListener;'
06-11 15:06:09.741  13092-13126/? W/dalvikvm﹕ Link of class 'Lcom/kahuna/sdk/location/KahunaGeofenceRequester$

[2015-06-11 22:25] TorreyKahuna commented on #297
@arango Can you share with me the username or device_id that you are testing with? I can take a look and see what's up with that user and why you can't push to them.

[2015-06-11 23:00] arango commented on #297
username mvp30991
deviceID: 29b3648b-50f6-4154-95d6-8aae31baf692

[2015-06-11 23:35] TorreyKahuna commented on #297
@arango You'll need to add your GCM API Key onto your Kahuna account. Log into your Kahuna Account and then go to settings. Scroll down until you see a header called "Push Authorization".

There you can copy and paste in your GCM API Key and then you'll be able to send Pushes to Android devices.

https://app.usekahuna.com/tap/getstarted/android/manual/

Step 2 in enabling push has those instructio

[2015-06-11 23:55] arango commented on #297
By settings, you mean https://app.usekahuna.com/tap/#settings ?  Or is there some other settings page?

[2015-06-11 23:56] TorreyKahuna commented on #297
yup, those settings

[2015-06-11 23:57] arango commented on #297
Huh.  All I see there are App Settings.  Nothing for Push Authorization.

[2015-06-12 00:05] TorreyKahuna commented on #297
@arango can you email it to support@kahuna.com?

You don't seem to have credentials for your kahuna account.

[2015-06-12 18:43] VicV opened #299 "Mixpanel initializeWithIncrementsAndPeople test fails."
Pretty frustrating that I have to disable mixpanel all over the place just to be able to run a full test.

[code]

[2015-06-12 20:15] f2prateek commented on #299
Works for me and on the CI, you're probably not using Java 8?

[2015-06-12 20:20] f2prateek commented on #299
Also slightly related, you can just cd into the taplytics directory and run tests only for Taplytics.

`cd analytics-integrations/taplytics` & `../../gradlew build`

[2015-06-12 20:20] #299 closed

[2015-06-17 18:56] eriklarson opened #301 "Localytics: 'Track' does not recognize 'revenue' property correctly on Android"
On the iOS version on Segment, the track event checks to see if there is a 'revenue' present
https://github.com/segmentio/analytics-ios/blob/master/Analytics/Integrations/Localytics/SEGLocalyticsIntegration.m#L127-L133

On the Android version, it doesn't:
https://github.com/segmentio/analytics-android/blob/21161a10e8b8b08f84c6331b80af005e766a0467/analytics-integrations/localytics/src/main/java/com

[2015-06-17 19:19] f2prateek commented on #301
It looks like a.js doesn't either - https://github.com/segment-integrations/analytics.js-integration-localytics/blob/master/lib/index.js#L118

@sperand-io what would the right behaviour here be? I'm inclined to think iOS is correct.

[2015-06-24 00:09] wcjohnson11 opened #305 "Analytics.java file references Localytics as Leanplum in BundledIntegration"
Localytics is referencing Leanplum in BundledIntegration
https://github.com/segmentio/analytics-android/blob/157a4c9f02fc5f68ca7ba00b8ef0adcdf3eb811e/analytics-core/src/main/java/com/segment/analytics/Analytics.java#L515
![image](https://cloud.githubusercontent.com/assets/5373129/8320031/7589066c-19ca-11e5-96ba-91eb3edc7d1f.png)
needs to be changed to
![image](https://cloud.githubusercontent.com/a

[2015-06-24 01:20] #305 closed

[2015-06-24 16:44] somghosh commented on #258
Hi @f2prateek , this is a specific requirement. I have a code for identifying with the email on the App.onCreate(), which is also fired when a push notification is received on the phone. This makes App.onCreate() run, and it calls identify() which updates the last_seen in Mixpanel for that user, although the user didnt necessarily come back to the app - just received a push on the phone (that trig

[2015-06-24 18:02] f2prateek commented on #258
To clarify, in your Application's onCreate method you call `identify`. Even if you were to use the ignore_time property somehow via Segment, you wouldn't want that to always ignore the user's last seen property (since most times the onCreate is actually triggered by the user opening the app). So you'd have to wrap it in a check anyway, if I'm right?

[code]

Could you just do this then? I don't th

[2015-06-25 18:28] #301 closed

[2015-06-29 16:19] ajalt opened #309 "IllegalArgumentException in QueueFile.setLength"
We recently added segment into our release build, and it's causing a number of fatal crashes.

Observed on Samsung and Motorola phones, Android 5.0.2 and 5.1.1.

       java.lang.IllegalArgumentException: newLength < 0
              at java.io.RandomAccessFile.setLength(RandomAccessFile.java:622)
              at com.segment.analytics.QueueFile.setLength(QueueFile.java:392)
              at com.se

[2015-06-29 16:21] f2prateek commented on #309
Which version of the SDK is this?

[2015-06-29 16:23] f2prateek commented on #309
Also can you share some code as to how you're initializing the SDK? We've seen this error if you use multiple instances of the analytics instances with the same write key.

[2015-06-29 16:47] ajalt commented on #309
The library we're using is `com.segment.analytics.android:analytics-core:3.1.4`. We initialize the SDK with a single `Analytics.with(app.getApplicationContext())`, which is injected into activities etc. with Dagger.

[2015-07-01 16:48] ajalt commented on #309
We are also seeing another crash in `QueueFile`:

    java.lang.ArrayIndexOutOfBoundsException: length=16; regionStart=0; regionLength=-2062708125
        at java.util.Arrays.checkOffsetAndCount(Arrays.java:1731)
        at java.io.RandomAccessFile.readFully(RandomAccessFile.java:415)
        at com.segment.analytics.QueueFile.ringRead(QueueFile.java:261)
        at com.segment.analytics.QueueFile

[2015-07-01 17:02] benjamin-bader commented on #263
Closed too soon, I think:

[code]

[2015-07-01 18:06] f2prateek commented on #309
Do you have a reproducible case? The stack trace by itself isn't enough to fix the issue.

[2015-07-02 14:32] kellyfj opened #313 "Test failure in MixpanelTest.java"
Hi Prateek,
  I forked this morning to try something out but when I ran
`./gradlew clean build`

I got a test failure
[code]

In the test details I see the following
[code]

I am running
[code]
on Yosemite 10.10.4

[2015-07-03 14:34] f2prateek commented on #313
Hey Frank, you'll need to be on JDK 8 to run the tests (https://github.com/segmentio/analytics-android#building-with-gradle). This specific one depends on the ordering of map elements, which differs in JDK 8 from JDK 7.

[2015-07-03 14:43] f2prateek commented on #313
I've also relaxed the test to pass on JDK 7 https://github.com/segmentio/analytics-android/commit/81a43ebf152b6b2ac1e77d97c662f1b854baed59

[2015-07-03 14:43] #313 closed

[2015-07-08 23:03] GuillaumeDelente opened #315 "Disabling/Enabling specific integrations is not working."
According to the doc, it should be possible to enable/disable bundled integrations for a specific call using `Options` : https://segment.com/docs/libraries/android/#options

However, it seems that the event is getting sent to all the integrations, no matter what's in `Options`.
Here is how I am disabling Mixpanel for example :
[code]

[2015-07-09 06:33] drspaceboo opened #316 "Fatal Exception: java.util.concurrent.RejectedExecutionException"
I've been seeing this crash climb our ranks of crashes for our app.
[code]

We have the following dependancies in our Gradle:
[code]

I haven't seen anyone else report this issue. Is this a known problem?

[2015-07-13 16:04] cayleyh opened #318 "IllegalArgumentException calling alias() without previousId"
The documentation says you should be able to call `alias()` with just the `newId` (no `previousId` or `options` https://segment.com/docs/libraries/android/#alias), however, when I do this, the app crashes with:

![screen shot 2015-07-13 at 8 47 43 am](https://cloud.githubusercontent.com/assets/118396/8654232/f5b42f1a-293d-11e5-8755-40c6906b0122.png)

I've just upgraded from the 2.x library to the

[2015-07-13 16:07] cayleyh commented on #318
Worth noting that this happens whether I call it with or without an empty options arg (`Analytics.with(context).alias(newId)` vs `Analytics.with(context).alias(newId, null)`)

[2015-07-13 17:05] cayleyh commented on #318
nvm. This was my problem in calling alias with `null` in some situations.

[2015-07-13 17:05] #318 closed

[2015-07-13 21:55] f2prateek commented on #315
Could you enable logging and send us the logs, either here or to prateek@segment.com?

[2015-07-13 21:56] f2prateek commented on #309
Also could you enable logging and send us some more information?

[2015-07-13 21:57] #297 closed

[2015-07-13 21:58] f2prateek commented on #258
@somghosh any updates? Does the above solution work for you?

[2015-07-16 23:48] f2prateek commented on #316
Weird, I ran the SDK in a simple loop and couldn't reproduce:

[code]

Can you try updating to the latest version (3.1.5)?

[2015-07-23 07:19] Presleyzheng opened #321 "QueueFile throws OOB"
I used this library in my app, the exception below is  thrown. But I do not find how the exception caused.

java.lang.ArrayIndexOutOfBoundsException: length=16; regionStart=0; regionLength=-721449129
	at java.util.Arrays.checkOffsetAndCount(Arrays.java:1731)
	at java.io.RandomAccessFile.readFully(RandomAccessFile.java:415)
	at com.segment.analytics.QueueFile.ringRead(QueueFile.java:259)
	at com.se

[2015-07-23 07:59] f2prateek commented on #321
@Presleyzheng what version of the library? Do you have a reproducible case?

[2015-07-23 15:30] GuillaumeDelente commented on #315
@f2prateek Here is the logcat :
[code]

[2015-07-23 15:36] f2prateek commented on #315
@GuillaumeDelente how did you determine that an event was sent to an integration or not? From looking at the actual tool or just from these logs?

Our Android logs don't actually indicate whether an integration was disabled or not. e.g. if you disable Mixpanel from options as in your example, you'll still see `Took 0 ms to run action TrackPayload{"event} on Mixpanel.`

[2015-07-23 15:40] GuillaumeDelente commented on #315
@f2prateek the events are showing in the disabled integration's dashboard.
<img width="518" alt="screen shot 2015-07-23 at 11 40 06 am" src="https://cloud.githubusercontent.com/assets/447889/8854773/a2a4a1b6-312f-11e5-85ae-54665acfe652.png">

[2015-07-23 16:19] f2prateek commented on #315
@GuillaumeDelente could you enable verbose logging and send the entire log (not just Segment, but the integrations as well)?

[2015-07-23 21:53] GuillaumeDelente commented on #315
@f2prateek segment is not logging anything else, nor are the bundled integrations.

[2015-07-23 22:04] GuillaumeDelente commented on #315
@f2prateek actually GA is logging stuff but not mixpanel, so I disabled Google Analytics instead :

        Options noGA = new Options();
        noGA.setIntegration(Options.ALL_INTEGRATIONS_KEY, true);
        noGA.setIntegration(Analytics.BundledIntegration.GOOGLE_ANALYTICS, false);
        Properties props = new Properties();
        props.put("page name", pageName);
        analytics.track("ev

[2015-07-23 22:54] f2prateek commented on #315
@GuillaumeDelente I can't reproduce this in our sample app (https://github.com/segmentio/analytics-android/commit/4fe939fa362c6bcf4f0302f8de0dc7e09bc6b579). The first event in the sample makes it to Mixpanel but not the second.

Can you send me a reproducible case in this repo and let me know which Segment project this is for?

[2015-07-29 00:53] GuillaumeDelente commented on #315
@f2prateek I've checked out https://github.com/segmentio/analytics-android/commit/4fe939fa362c6bcf4f0302f8de0dc7e09bc6b579 and changed the segment write key to point to my segment project.
The two events are making it to mixpanel.

[2015-07-29 01:23] f2prateek commented on #315
@GuillaumeDelente Can you send an email to friends@segment.com and cc prateek@segment.com? We'll check it out.

[2015-07-30 15:41] kgpmurray opened #325 "Dex limit"
Is there a way to cut down the dependancys this library downloads as it is pushing my app over the Dex limit and the multidex library is causeing further issues.

[2015-07-30 17:42] f2prateek commented on #325
There are no dependencies in the core library.

You can eliminate unused bundled integrations by following the instructions here: https://segment.com/docs/libraries/android/#custom-builds

[2015-07-30 17:42] #325 closed

[2015-07-30 17:43] f2prateek commented on #325
Simply switching to this (see below) will cut down the size significantly.
[code]

[2015-07-30 18:38] kellyfj opened #326 "AnonymousId changes when upgrading from 0.6.10 to 3.1.1 - causes Amplitude to think this is a new User."
One underlying issue is that in Segment 0.6.10  the anonymous Id is stored as a shared preference under this key ``` "session.id"```

However 3.1.1 Segment is looking up based on this key

 ``` private static final String ANONYMOUS_ID_KEY = "anonymousId"; ```

And therefore the customer's original Anonymous Id is being overlooked and a new one is being created, making the customer look like a new

[2015-07-30 18:47] kgpmurray commented on #325
Thank you,

[2015-07-31 18:31] imminent opened #327 "Throw early for null keys"
We are getting the following stacktrace from Segment related to the mixpanel integration:

0 java.lang.NullPointerException: key == null
1 at org.json.JSONObject.<init>(JSONObject.java:136)
2 at com.segment.analytics.ValueMap.toJsonObject(ValueMap.java:323)
3 at com.segment.analytics.internal.integrations.MixpanelIntegration.event(MixpanelIntegration.java:179)
4 at com.segment.analytics.internal.i

[2015-08-01 16:40] f2prateek commented on #326
@kellyfj yes, those preferences are lost in the upgrade. This will affect users that have not been identified.

[2015-08-01 16:41] #176 closed

[2015-08-03 16:15] imminent commented on #327
@f2prateek This isn't exactly the same stack trace as the other issue I mentioned, but they're very similar (null key vs null value).

[2015-08-03 16:33] f2prateek commented on #327
Ah interesting. I actually prefer it if we crash for a null key, I can't think of a circumstance when there is a genuine need to use it, it's always a bad input.

[2015-08-03 19:04] f2prateek commented on #224
#328 fixes this, so you can set `JSONObject.NULL` as the value and Mixpanel will correctly encode it.

[2015-08-03 23:45] #224 closed

[2015-08-04 05:55] imminent commented on #327
If it's going to crash, fail early. It should raise an exception at entry,
otherwise it's too late to know where that null came from.

On Mon, Aug 3, 2015, 9:33 AM Prateek Srivastava <notifications@github.com>
wrote:

[2015-08-04 16:31] f2prateek commented on #327
Yup I agree, just need to research a bit more to confirm that would be the right behaviour.

[2015-08-07 13:46] kellyfj commented on #316
Any update on this issue - we are experiencing it and want to be sure it is fixed before upgrading. Thanks!

[2015-08-07 15:37] f2prateek commented on #316
Do you have a stack trace you can share and a reproducible case? My simple test case didn't reproduce the issue.

You can pass a custom exectuor to the library, so you could try playin g around with a few different ones as well.

[2015-08-09 13:08] holmari commented on #316
Prateek, answering on behalf of Frank - we don't know when this happens exactly, we're only seeing this crash with real users through our crash reporting system. There's several hundred crashes in the past few days.

It seems likely that this error is not caused by too many events sent, but rather that the executor is shut down but it still tries to flush afterwards. Could you take a look whether

[2015-08-09 19:58] f2prateek commented on #316
I see, are you calling `analytics.shutdown()` in your app and enqueuing events after?

[2015-08-10 16:10] kellyfj opened #329 "NullPointerException in IntegrationManager.java"
Using 3.1.1

We are getting NPE from this - I guess the only possibility is that integrationManagerHandler is null
[code]

From our internal bug discoverer

[code]

[2015-08-10 17:56] f2prateek commented on #329
Can you send the exact stacktrace - and possibly the espresso test that reproduces this?

[2015-08-10 18:00] kellyfj commented on #329
Here is the Stack trace

[code]

[2015-08-10 18:05] f2prateek commented on #329
hmmm.. I don't see how `integrationManagerHandler` is ever null. It's initialized in the constructor, and the reference is final so we can't even accidentally `null` it. https://github.com/segmentio/analytics-android/blob/3.1.1/analytics-core/src/main/java/com/segment/analytics/IntegrationManager.java#L101

If you could share the test case for this, I can dig into it more.

[2015-08-11 06:57] holmari commented on #316
I don't think we call shutdown() anywhere - at least I can't see any calls to it in our code as far as I can tell. Are there any cases where the executor could be shut down otherwise, from inside segment code?

If shutdown() is called and tracking is attempted afterwards, shouldn't track() or similar methods fail immediately, to pinpoint the code that posts events after shutdown? It might also mak

[2015-08-11 07:53] drspaceboo commented on #316
@kellyfj,
Sorry we haven't yet tried upgrading to 3.1.5, so can't confirm one way or the other yet.

[2015-08-11 23:44] f2prateek commented on #316
@holmari I see, and you're not passing a custom executor either?

[2015-08-12 06:55] holmari commented on #316
@f2prateek we use the default executor. The stacktrace shows the executor too - we have exactly the same crash as @drspaceboo has, and based on the trace, I suppose they don't use a custom executor either.

[2015-08-13 12:02] holmari commented on #329
@f2prateek :  I studied this issue together with @luigimassagallerano and we found that there'a concurrency problem in the constructor:
 1) we initialize segment.io in a non-main thread
 2) registerActivityLifecycleCallbacks is called before the thread is created
 3) we get onActivityPaused from the main thread
 4) IntegrationManager receives the event before integrationManagerHandler is initializ

[2015-08-13 12:06] luigimassagallerano commented on #329
Hi, in general in Java is very bad practice escaping a this reference during construction. Especially in a multi-thread environment. Please try to refactor your code to avoid passing "this" during the constructor.

Please have a look at:

https://www.securecoding.cert.org/confluence/display/java/TSM01-J.+Do+not+let+the+this+reference+escape+during+object+construction

http://stackoverflow.com/a/68

[2015-08-18 02:42] #326 closed

[2015-08-18 02:42] #258 closed

[2015-08-18 02:45] f2prateek commented on #315
Closing due to lack of response.

[2015-08-18 02:45] #315 closed

[2015-08-18 03:47] #329 closed

[2015-08-18 03:49] f2prateek commented on #316
#331 and #332 address these issues, but I'm not entirely sure if it fixes since we don't have a reproducible case. They'll be released as snapshots, so if you can test those out, that would be immensely helpful.

[2015-08-21 10:39] aminelaadhari opened #334 "IntegrationOperation is leaking activity"
Hey, we detected a memory leak with version 3.1.6, here a screenshot of the stack using leak canary:
![screenshot_2012-01-02-19-18-15](https://cloud.githubusercontent.com/assets/1357594/9406472/04837a50-4801-11e5-8d78-9b8a0f465718.png)

To reproduce, the scenario is quite simple  :
Start an activity and immediately call finish and start another.

With a device like Samsung Galaxy note 2 (GT-N7100)

[2015-09-03 04:50] braebot opened #340 "Logging payloads has a missing quote"
Not sure if this is intentional, but all my payload logging has a missing quote.  Example:
[code]
Was this done on purpose?

[2015-09-03 18:06] f2prateek commented on #340
Ah nope, not on purpose. Good catch!

[2015-09-03 20:00] #340 closed

[2015-09-04 18:18] eriklarson opened #343 "Transaction Revenue not getting sent to Google Analytics"
Our Google Analytics product purchase data is getting passed to google analytics, but the transaction level data is not.

Looking at the code, it doesn't look like this event is getting called:
https://github.com/segmentio/analytics-android/blob/master/analytics-integrations/google-analytics/src/main/java/com/segment/analytics/internal/integrations/GoogleAnalyticsIntegration.java

For either way G

[2015-09-09 06:27] saumyayadav opened #344 "Not sending revenue data field to appsflyer in android"
We are sending some revenue value in one of our events as "revenue" field but I can't see this in the in app events export from appsflyer. I can see this data in the debugger in segment but not in appsflyer reports. This is for android.

[2015-09-12 06:56] f2prateek commented on #344
This should be fixed in the latest version!

[2015-09-12 06:56] #344 closed

[2015-09-12 07:00] f2prateek commented on #343
Can you share some more details? What is your tracking code? What event name are you using? What properties are you sending?

[2015-09-12 07:01] f2prateek commented on #316
Closing this since I haven't heard back, but feel free to reopen with additional details if the issue persists  in the latest version.

[2015-09-12 07:01] #316 closed

[2015-09-13 01:19] eriklarson commented on #343
There is one Segment.io event that passes transaction revenue data.  It is the 'Completed Order' event.

The bug is in the Android Segment implementation of Google Analytics ecommerce events. Check out the iOS implementation here:
Line 158:
https://github.com/segmentio/analytics-ios/blob/master/Analytics/Integrations/GoogleAnalytics/SEGGoogleAnalyticsIntegration.m

Then look at your Android implem

[2015-09-24 23:48] #175 closed

[2015-10-01 12:41] nizamcs opened #358 "NullPointerException in MoEngageIntegration"
Integrated library though gradle :  com.segment.analytics.android:analytics-integration-moengage:3.2.1+

In my Android Application class, I have this
[code]

This **works fine in Lollipop**, but got crash in Kitkat(4.4.4)
The crash log is as follows:

    10-01 17:29:14.396  23402-23921/tv.accedo.airtel.wynk E/AndroidRuntime﹕ FATAL EXCEPTION: SegmentAnalytics-IntegrationManager
    Process: tv.acc

[2015-10-01 21:46] #343 closed

[2015-10-01 22:54] f2prateek commented on #358
Weird that it ran fine on Lollipop, but the issue is basically that MoEngage requires an activity to be started (https://github.com/segmentio/analytics-android/blob/master/analytics-integrations/moengage/src/main/java/com/segment/analytics/internal/integrations/MoEngageIntegration.java#L67) before tracking events.

[2015-10-01 22:57] f2prateek commented on #358
Also related: http://docs.moengage.com/docs/android-coding-it-up

[2015-10-02 18:04] Atrix1987 commented on #358
@nizamcs where are you calling `Analytics.with(context).track()` ?

[2015-10-02 18:31] nizamcs commented on #358
Hi,
The call was from Application class, immediately after the library
initialization. So, I have to move the line of code to the launcher
activity, leaving the initialization behind. Right?
Regards,
Nizam
On Oct 2, 2015 11:34 PM, "Abhishek Nandi" <notifications@github.com> wrote:

[2015-10-02 20:58] f2prateek commented on #358
@nizamcs Yes, that would work for now.

I think we should try to handle it in the Segment integration, and defer calling MoEngage until an activity is initialized — but I'm unsure what the behaviour should be when there isn't an Activity created (e.g. say this happened in a background service). @Atrix1987 any suggestions?

[2015-10-03 04:56] Atrix1987 commented on #358
@nizamcs call track in your activity.
@f2prateek i'll change the implementation, to handle this. Had tied up MoEHelper to activity because it is required for InApps and some other features. But yes both can be handled. When is your next release, would send a PR before that ?

[2015-10-05 06:38] nizamcs commented on #358
Hi,

I moved the 'Track' to the launcher activity and is working fine now.
Also, waiting for the updated library, so we can use it even without an
activity.
Thank you.

Regards,
Nizam CS

Thanks & Regards,
Nizam CS

On 3 October 2015 at 10:26, Abhishek Nandi <notifications@github.com> wrote:

[2015-10-07 22:29] f2prateek commented on #358
@Atrix1987 anytime is fine, we've already made 2 releases since this issue was opened

[2015-10-16 23:16] #358 closed

[2015-10-24 20:38] f2prateek commented on #334
I think I finally figured out a fix for this, I should have it ready end of the week!

[2015-10-25 04:37] aminelaadhari commented on #334
great thanks !

[2015-10-28 07:14] abhinav-koppula opened #383 "Screen event getting triggered multiple times on Mixpanel"
Hi,

I have mixpanel integration turned on in Segment.
I am firing a screen event using the following syntax:
Analytics.with(context).screen("Home", "Home", null);
On the debugger it shows the following:
Home Home - analytics.screen("Home", "Home", new Properties());

For some reason, on Mixpanel, it shows the following:
Viewed Home Screen
Viewed Home Home Screen
Loaded a Screen

I wanted to know

[2015-10-28 12:43] f2prateek commented on #383
Our server side integration will send three distinct events for this — one event uses the category and one uses the name, and one is a generic event name. https://github.com/segmentio/integration-mixpanel/blob/master/lib/index.js#L191

I'll need to research a bit more why the server side sends it 3 times.

As a quick fix, you can turn off the setting for `trackCategorizedPages` and the `trackAllPa

[2015-10-29 13:43] nizamcs opened #384 "ConcurrentModificationException"
We are maintaining two versions of applications, one with segment library and another without segment library for Android2.3 support.
Recently, I came across the following issue:
[code]
This is a 70% reproducible issue, but not seen in the build without segment library.  The scenario is,
I've two Activity with segment screen methods in onCreate().
I switch between these Activity repeatedly.
Above

[2015-10-30 20:25] Atrix1987 commented on #384
@nizamcs you can ignore the onPause logs, I have put it in debug mode and ran it and it does get called. The state gets reset and so you see the logs. This is just a log and will affect no functionality.

@f2prateek since segment-android puts lifecycle callbacks in a queue and runs it asynchronously can that be the cause of this issue ? Theoretically it can cause a ConcurrentModificationException

[2015-10-30 20:41] f2prateek commented on #384
@Atrix1987 That wouldn't be the cause because those operations aren't accessed concurrently, they're dispatched to a single thread. The only time they are not accessed on that thread is when calling shutdown (@nizamcs are you using shutdown?).

[2015-10-31 05:14] Atrix1987 commented on #384
@f2prateek but Segment code and the app code gets processed asynchronously right ? In that case it might be possible isn't it ?

[2015-10-31 05:45] f2prateek commented on #384
If something else if using the bundle outside of Segment, or if one of the sdks internally offload it to a background thread for processing and another SDK doesn't (or offloads it a different thread), then yes.

It's unlikely in this case that is issue, because there isn't a bundle associated with the `onStop` method, which are the 2 culprits in the stack trace.

[2015-10-31 07:28] Atrix1987 commented on #384
I see bundle operations in @nizamcs 's code. Not sure of other libs but his own code.
`ActivityManagerNative` does perform bundle operation.

Since segment lifecycle callbacks are non-blocking; `onStart` in Segment lib and onStop in Activity main can happen if the queue is not processed quickly.

@nizamcs can you enable the verbose debugging mode for segment using
`.logLevel(Analytics.LogLevel.VER

[2015-11-03 04:45] nizamcs commented on #384
Hi,

PFA the full catlog with Analytics.LogLevel.VERBOSE enabled.
Also, it took 3-4 minutes because it was in debug mode. Usually the crash
occurs within one minute.

Regards,

*Nizam CS*

*Senior Software Engineer*

Email: nizam.ls@accedo.tv

www.accedo.tv

On 31 October 2015 at 12:58, Abhishek Nandi <notifications@github.com>
wrote:

[2015-11-03 05:26] f2prateek commented on #384
@nizamcs just so we're clear, using only the segment library without any integrations didn't crash your app, right? This would suggest that the bug is from one of our partner SDKs, not Segment.

[2015-11-03 14:11] Atrix1987 commented on #384
**UPDATE:**
@f2prateek: `onSaveInstance` is getting called in Segment and at the same time `onStop` is called on the UI Thread. In `onSavedInstance`, we add a flag (for not tracking the same screen twice, storing inapps, etc).
This causes `ConcurrentModificationException` in onStop in `ActivityManagerNative` which writes to the `Bundle`.
This is the reason why I specified,  Activity Callbacks shou

[2015-11-03 17:50] WesleyDRobinson opened #386 "Update Localytics Release"
Ticket open re: crashing issues with earlier releases.
iOS integrations is on release 3.5.1

[2015-11-03 18:52] f2prateek commented on #386
What's the newest version for Android?

[2015-11-03 20:09] f2prateek commented on #384
We can move it to the UI thread for sure, I haven't seen a problem with any other integrations in calling it on a background thread though.

[2015-11-04 06:50] nizamcs commented on #384
What will be the implication of moving it to the UI thread? It will hit on performance, right?

[2015-11-04 07:14] f2prateek commented on #384
Not really, since if you were to integrate natively you'd make those calls it on the UI thread as well; so it's no worse than that. And we'll still do it asynchronously, so it's less likely to interfere with a more crucial UI task like animations.

[2015-11-04 08:57] Atrix1987 commented on #384
@f2prateek you don't see any problem with any other integrations because most of them do not override `onActivitySaveInstance`. @nizamcs moving lifecycle callbacks should not hit any performance. Ideally lifecycle callbacks should be a blocking call. Think of it this way, your activity should not resume until `onResume` has finished

[2015-11-04 10:20] abhinav-koppula opened #387 "NPE when passing null value for traits in identify"
I have the following code:

[code]

Basically I would want to unset some properties which had been set in the first identify event. However on executing the above code, I get a NPE. Am I doing anything wrong?

[2015-11-04 18:17] f2prateek commented on #387
Where is the NPE? Can you share the stack trace?

[2015-11-04 19:46] WesleyDRobinson commented on #386
Current Android version is 3.5.0 according to the [Localytics SDK Changelog](http://docs.localytics.com/#Dev/sdk-changelog.html)
![](https://cloudup.com/cYQG2vkJKD4+)

[2015-11-04 19:50] f2prateek commented on #386
Thanks! We'll definitely do this once I split out the integrations to their own repos.

[2015-11-04 21:31] f2prateek commented on #384
We might be able to make it a blocking call, but since integrations are initialized asynchronously, this won't always be possible.

Like what happens when the integrations aren't initialized and we get an activityStop? It's only really a problem on the first launch of the app after an install since we don't have any cached settings, but we can't really block the activity from finishing until we ca

[2015-11-04 21:43] f2prateek commented on #384
And alose note that because the calls would be asynchronous (but on the UI thread), we might have a case where application code is processing onStop, but the integrations still haven't processed the onSaveInstance call.

[2015-11-05 01:25] f2prateek commented on #387
Also, what version of the library is this?

[2015-11-07 17:31] #387 closed

[2015-11-07 17:49] abhinav-koppula opened #390 "Alias event behaving randomly"
Hi,
We are using Segment and have turned on Mixpanel integration.
We are using alias at the time of registration to map the anonymous events to the identified events. However, not all events are getting mapped correctly and some events get dropped after alias has been fired.
![screenshot from 2015-11-07 19 38 31](https://cloud.githubusercontent.com/assets/3524245/11016351/eed07cda-85a4-11e5-8d00-f

[2015-11-12 19:04] zafrani commented on #160
This isn't working. Mix panel still has everything under an anonymous id after identifying. I'm on com.segment.analytics.android:analytics-core:3.4.0

[2015-11-13 08:18] f2prateek commented on #386
Added in https://github.com/segment-integrations/analytics-android-integration-localytics

[2015-11-13 08:18] #386 closed

[2015-11-13 08:21] f2prateek commented on #383
Moved to https://github.com/segmentio/integration-mixpanel/issues/10

[2015-11-13 08:21] #383 closed

[2015-11-18 05:42] f2prateek opened #391 "Add test case for registering lifecycle callbacks"

[2015-11-18 13:04] nizamcs commented on #384
Hi, any updates here? @f2prateek so moving to UI thread will cause the same/another issue? @Atrix1987 please share your thoughts.

[2015-11-18 17:21] Atrix1987 commented on #384
So @f2prateek you mean to say if an app is doing bundle manipulation (which is not uncommon in android) and is also using segment, then crash can happen.

[2015-11-18 18:12] f2prateek commented on #384
If it happens off the main thread, then yes. We've made changes to our library so that it only calls integrations on the main thread, but we can't control what integrations are doing in their own libraries.

[2015-11-18 19:00] f2prateek commented on #384
@nizamcs You can try the new releases:https://github.com/segmentio/analytics-android/wiki/Packaged-Integrations.

You'll need:
[code]

And in your builder.

[code]

[2015-11-20 20:08] mbernier85 opened #392 "Remove dependency to Json"
Dependency org.json:json:20131018 is ignored for Debug as it may be conflicting with the internal version provided by Android.

I added this for now to solve this error
exclude group: 'org.json', module: 'json'

[2015-11-21 03:48] f2prateek commented on #392
Which version? We don't have that dependency in the library.

[2015-11-21 03:48] #392 closed

[2015-11-21 17:14] mbernier85 commented on #392
Version 3.4

I just added the library to the project, and now I have warnings during build

    //segment.io
    compile('com.segment.analytics.android:analytics:3.4.0@aar') {
        transitive = true
        exclude group: 'org.json', module: 'json'
    }

[2015-11-21 19:13] f2prateek commented on #392
That doesn't mean it's from our library. It's probably coming from one of the integrations that this bundles. You can see our core library don't have any dependencies (https://repo1.maven.org/maven2/com/segment/analytics/android/analytics-core/3.4.0/analytics-core-3.4.0.pom). You can run `./gradlew dependencies` to check where it's coming from (most likely Tapstream).

[2015-11-29 07:06] #384 closed

[2015-11-29 07:06] f2prateek commented on #384
No need to specify snapshot anymore as well.

[2015-12-01 07:01] nizamcs commented on #384
Thank you All. @f2prateek please guide me to specify library without snapshot.
Is it like,
[code]

[2015-12-01 07:49] f2prateek commented on #384
Yes.

[2015-12-02 11:55] nizamcs commented on #334
@f2prateek Is this one fixed now?

[2015-12-03 02:28] f2prateek commented on #334
Not yet.

[2015-12-04 13:20] camilasousa opened #395 "NullPointerException in performInitializeIntegrations"
Hi,

We have a problem with segment.io initialization that are affecting almost 30% of our users with all kinds of devices and Android versions.

We recently changed to Build Tools 23 and Segment.io 4.+.

Stracktrace
Fatal Exception: java.lang.NullPointerException
       at com.segment.analytics.Analytics.performInitializeIntegrations(Analytics.java:1000)
       at com.segment.analytics.Analytics$

[2015-12-04 13:28] f2prateek commented on #395
Do you have a reproducible case?

[2015-12-04 13:32] camilasousa commented on #395
No, I got reports in Crashlytics.

http://crashes.to/s/7948cde1bf9

I will leave it public for now so you can have a look.

[2015-12-07 08:08] wonTonx commented on #395
I have the some problem too

[2015-12-07 08:22] wonTonx commented on #395
I got these issue too, ProjectSettings.integrations()' on a null object reference
here are compelete Stracktrace

java.lang.NullPointerException: Attempt to invoke virtual method 'com.segment.analytics.ValueMap com.segment.analytics.ProjectSettings.integrations()' on a null object reference
	at com.segment.analytics.Analytics.performInitializeIntegrations(Analytics.java:1000)
	at com.segment.analy

[2015-12-07 12:46] #395 closed

[2015-12-07 14:04] ajosue commented on #395
i have the same bug can you tell me how can i inlcude this fix on gradle??

[2015-12-07 14:23] wonTonx commented on #395
I got these log when debug

Error while uploading payloads
    java.io.IOException: At least one payload must be provided.
    at com.segment.analytics.SegmentIntegration$BatchPayloadWriter.endBatchArray(SegmentIntegration.java:396)
    at com.segment.analytics.SegmentIntegration.performFlush(SegmentIntegration.java:288)
    at com.segment.analytics.SegmentIntegration.access$100(SegmentIntegration

[2015-12-08 03:42] wonTonx opened #397 "can't upload the tracktion or any information for the Debugger"
and it keep logging the error but it doesn't crash the app

Analytics: Error while uploading payloads
        java.io.IOException: At least one payload must be provided.
                at com.segment.analytics.SegmentIntegration$BatchPayloadWriter.endBatchArray(SegmentIntegration.java:396)
        at com.segment.analytics.SegmentIntegration.performFlush(SegmentIntegration.java:288)
        at com

[2015-12-08 05:44] f2prateek commented on #397
Is it reproducible? Send a sample.

[2015-12-08 13:50] wonTonx commented on #397
it's fine now just kill the app and restart it will not happen

[2015-12-08 13:50] #397 closed

[2015-12-09 19:14] FreakTheMighty opened #398 "Quickstart typo"
The Quickstart [here](https://segment.com/docs/libraries/android/quickstart/) appears to have a typo in * Step 2. Initialize the Client*.

[code]
Should be
[code]

[2015-12-09 19:29] FreakTheMighty opened #399 "Why does `put` return `Object` where `putEmail` returns Trait?"
It seems odd that `putEmail`, `putFirstName` etc, returns a `Traits`, instance, but `put` returns `Object`. This makes it so that we can't chain with `put`. For example, this doesn't work.
[code]

[2015-12-10 05:06] f2prateek commented on #399
`put` is a method defined by the [map interface](http://docs.oracle.com/javase/7/docs/api/java/util/Map.html#put(K,%20V)), which by contract is meant to return the previously defined value for the given key. We can't just change it return whatever we want.

There's a method called `putValue` that does what you're looking for.

[2015-12-10 05:06] #399 closed

[2015-12-10 05:06] f2prateek commented on #398
Thanks, fixed!

[2015-12-10 05:06] #398 closed

[2015-12-11 00:45] ygnessin opened #400 "NPE in IntegrationOperation in version 4.0.1"
Hi, I just upgraded to version 4.0.1 with bundled integrations Flurry and Amplitude, both versions 1.0.0. I saw no errors while testing, but after rolling out my app update to production I saw the following crash come through Crashlytics in the wild:

[code]

My target SDK is 23 and my min SDK is 16. I am using ProGuard in my app (not sure if related) but am calling `-keep class com.segment.analyt

[2015-12-11 01:12] ygnessin commented on #400
This seems somewhat similar to the crashes reported in #395 and fixed in #396, in that the error stems from a null instance of `ProjectSettings`; in this case, when trying to fetch the tracking plan. Hopefully a similar solution can be implemented?

[2015-12-11 05:21] f2prateek commented on #400
@ygnessin sorry about that, turns out #396 didn't quite fix the issue. If you have a reproducible case and can test out the snapshot release, that would be awesome so we can verify the patch indeed works.

[2015-12-11 05:34] #400 closed

[2015-12-11 21:06] ygnessin commented on #400
@f2prateek sure - I've never used a snapshot release before in my gradle file, could you tell me how to configure Segment to use the snapshot version?

[2015-12-13 17:49] f2prateek commented on #400
You can use the 4.0.2 version now, should be available in a few minutes.

[2015-12-15 05:18] nizamcs commented on #334
Hi Prateek,

In that case, is there a stable previous version that we can use for the
time being? I need only analytics-core. It's been a bit long time since we
parked the segment integration because of this issue. Please do the needful.

Regards,

*Nizam CS*

*Senior Software Engineer*

Email: nizam.ls@accedo.tv

www.accedo.tv

On 3 December 2015 at 07:58, Prateek Srivastava <notifications@github

[2015-12-15 15:41] f2prateek commented on #334
What do you mean previous version?

[2015-12-15 15:48] f2prateek commented on #334
I'm adding a label of wontfix to this bug.

The issue is here is that Segment holds on activities when we register for the lifecycle callbacks. We need to hold on to these so we can send those events to integrations.

Because of this, if you close an activity faster than we can forward the event to an integration, you'll see LeakCanary complain.

In most cases, we can send the event faster than yo

[2015-12-15 15:48] #334 closed

[2015-12-15 16:00] aminelaadhari commented on #334
Thanks Prateek for making things clear.

Starting form which version ?

[2015-12-15 16:04] f2prateek commented on #334
@aminelaadhari This is from 4.x onwards.

[2015-12-15 19:57] ygnessin commented on #400
Even though I did not have a reproducible test case, I re-packaged my app using 4.0.2 and it's now been in production for 24 hours without seeing a crash. Thanks for the quick fix!

[2015-12-15 20:03] f2prateek commented on #400
@ygnessin Thanks for confirming!

[2015-12-20 13:40] wonTonx commented on #309
I think I have the same issue on this

[code]

[2015-12-22 04:00] wonTonx commented on #321
I think I met the some error and I'v using 4.0.2

[2015-12-24 14:38] featalion opened #402 "java.lang.StackOverflowError when build with Localytics integration"
Hi,

I have an issue during build with Localytics integration.
I add the next lines into `analytics/build.gradle`:

[code]

Gradle downloaded all required libraries, but is failed to build the library:

[code]

Logs:
[`gradle build --stacktrace`](http://pastebin.com/ehpCDPrv)
[`gradle build --debug`](http://pastebin.com/8MJLUv65)
[`gradle build --info`](http://pastebin.com/7Wgbbtc1)

Any help is a

[2015-12-28 23:23] imminent opened #403 "GoogleAdvertisingId tracking inconsistency"
We updated to Google Play Services 8.4.0 in our last app release and we noticed that before that Segment was tracking a Google Advertising ID in the `AnalyticsContext`, but no longer is. A look into the code reveals:
[code]
We don't use Google Analytics, so it's surprising that used to work, but it's also unclear the requirement of Google Analytics for retrieving the Google Advertising ID.

[2015-12-29 03:48] f2prateek commented on #403
How else would you retrieve the advertising ID?

[2015-12-29 22:13] imminent commented on #403
Sorry, what do you mean "how else"?

This is code we have:
[code]

[2015-12-29 22:37] f2prateek commented on #403
Sorry by how else I meant that the `AdvertisingIdClient` is only available when the GA dependency is present right? Which is we had that check in place. We could change it to check for `	com.google.android.gms.ads.identifier.AdvertisingIdClient`

[2015-12-29 23:38] hankim813 opened #406 "new libraries appending "Segment.io: false""
We started appending this in our newest version inside the `integrations` object to denote that you have bundled the Segment integration. Segment integration is bundled by default when you install the mobile library so this piece is only relevant in debugging process for Segment success engineers... but causes confusion to our customers.

The only time that would be `true` is if a user manually st

[2015-12-30 00:41] imminent commented on #403
No, the `AdvertisingIdClient` is not in the GA dependency, it's available with just the basic library as of 8.4 play services. We'd recommend going with your proposed change, as your current check is `false` for our app even though we use the `AdvertisingIdClient`.

[2015-12-30 00:45] #403 closed

[2015-12-30 00:46] f2prateek commented on #403
Cool, updated the library. Should probably have a release out soon.

[2016-01-07 22:28] ygnessin commented on #321
I'm experiencing this too, on version 4.0.3:

[code]
It's crashing every time I open the app, preventing me from running it. Need a fix ASAP.

[2016-01-07 22:42] ygnessin commented on #321
I see in your code there is extra logging to debug this very issue:
[code]
The problem is that the same `ArrayIndexOutOfBoundsException` being caught gets thrown again when you call `.toString()` on the `queueFile`. So the "extra information" is not logged to the console. But I can do my best to help you by examining the `queueFile` object in my debugger:
[code]
Hopefully this helps you - it looks

[2016-01-08 09:39] f2prateek commented on #321
@ygnessin Do you have a reproducible test case?

[2016-01-08 10:04] f2prateek commented on #321
If not and you are still able to set a breakpoint with the corrupt file, can you set one on [Line 261 of QueueFile](https://github.com/segmentio/analytics-android/blob/adbfd18825b28521449ce76c374a34e5f23c0cd6/analytics/src/main/java/com/segment/analytics/QueueFile.java#L261) and send me a screenshot of the debugger? Specifically values for the variables `position`, `offset`, `count` and `beforeEof

[2016-01-08 10:11] f2prateek commented on #321
(for my reference - the main issue here is that the length of the first element is 975337831 while the file size is only 2097152. this causes the queue file to try and read beyond what is allowed from the file)

[2016-01-08 19:18] ygnessin commented on #321
Sorry @f2prateek, this issue was blocking my development so I resorted to deleting the app and starting again from a fresh install, so unfortunately I can no longer reproduce the issue. But I've set a breakpoint where you asked, and I'll send you as much data as possible if it ever happens again

[2016-01-08 21:10] f2prateek commented on #321
I've deployed a new snapshot that also logs more relevant information.

You can use it by adding the snapshot repo:

[code]

[2016-01-12 10:29] jodhavishalsingh commented on #160
You can simply use this code:

            analytics.ready(function(){
                var user = analytics.user();
                var anonymousId  = user.anonymousId();
            });

[2016-01-20 04:47] f2prateek commented on #327
Thinking more about this, an dI don't think it makes sense for us to iterate over the entire map to check just for null keys. If we had more validations to do it would make sense, but otherwise it's best to avoid this - especially since it only affects integrations that use `JSONObject`.

[2016-01-20 04:47] #327 closed

[2016-01-20 04:49] f2prateek commented on #402
Can you share a sample project that demonstrates this? Also does this work without the localytics library? What if you pin the versions and explicitly declare the Segment dependency?

[2016-01-20 16:32] featalion commented on #402
What do you mean by "sample project"? I tried to build right from this repository. Our Android app is based on Unity3D engine, so that it requires binary libraries instead of building it as part of the whole project.

FYI: we resolved the issue by building all dependencies on our own and do not use Localytic's Maven repo.

[2016-01-22 12:37] nassendelft opened #408 "Timeout exceptions"
Hi,

I'm constantly getting timeout exceptions. i also noticed that it keeps on retrying constantly. not sure if there's a max number of retries but it doesn't look like it. Also, i'm not sure why it's timing out. I have 2 identical devices where one is working fine and the other isn't. I have had similar issue with devices so as for the reason WHY it's timing out: it probably samsungs fault. It d

[2016-01-22 19:08] f2prateek commented on #408
We don't retry at all, we give up and make make the network request next time we receive an event or as per the flush timer.

[2016-01-22 19:09] f2prateek commented on #408
Do you have the access network state permission declared?

[2016-01-23 11:33] nassendelft commented on #408
<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

i do use this permission yes. I'm not firing any events though, unless it's the google analytics lib that does this.

[2016-01-28 10:48] nassendelft commented on #408
I've removed the google analytics integration, as i don't really need it anyway. I haven't verified it yet but it looks like GA was pushing events while i tried disabling segment

[2016-01-28 10:48] #408 closed

[2016-02-03 05:23] wonTonx opened #409 "the debugger console receive many "identify" method at same time"
I put the identify method in the Application Class and I use MultiDex, Is it the reason that method run that many times?

What i see is like that
![image](https://cloud.githubusercontent.com/assets/4646750/12773718/35f5395c-ca79-11e5-9a89-73b3e1a7d487.png)

[2016-02-03 05:24] f2prateek commented on #409
Without any code or logs it's hard to tell what's at fault here. Most likely you're calling identify multiple times.

[2016-02-03 05:30] wonTonx commented on #409
the odd place it when this happen the only method sent is identify , other like track I use will not be seeing on the debugger console While other model is working fine that the identify is sent once and other event track will show

[2016-02-04 23:39] osipovas opened #410 "java.io.FileNotFoundException ENIFILE (File table overflow)"
Segment SDK Version: 3.4.0
Segment Integrations: Amplitude
Device Affected: LGL16C (Not Rooted, Android 4.4.2)
Stack Trace:

       at com.segment.analytics.SegmentDispatcher.create(SegmentDispatcher.java:131)
       at com.segment.analytics.IntegrationManager.(IntegrationManager.java)
       at com.segment.analytics.IntegrationManager.create(IntegrationManager.java:79)
       at com.segment.analy

[2016-02-19 19:20] mbernier85 commented on #387
I'm getting issue too

here is a stack trace

[2016-03-02 04:26] wonTonx opened #412 "QueueFile throws OOB not so sure is it the same as issue #321"
[code]
this happend thousands times according to the crash report I'v used

[2016-03-02 07:41] f2prateek commented on #412
This is the same as #321, even though it's masked as an OOM.

[2016-03-02 07:41] #412 closed

[2016-03-02 07:42] f2prateek commented on #412
If you have a reproducible case, please let us know.

[2016-03-15 01:03] aaron112 opened #415 "Possible NullPointerException in IntegrationOperation"
There is a possible NullPointerException which was just introduced on 4.0.6. See https://github.com/segmentio/analytics-android/commit/a10246417e740b8e5398a8c2a9e61637a0aafd7a#diff-56c6e264399fe3e6f141ddbdbdbb7ab9R189: `eventPlan` might be null.

[2016-03-15 02:16] virengujariya opened #416 "FATAL Exception"
`FATAL EXCEPTION: main
                                                                          Process: me.latergram.latergramme, PID: 13883
                                                                          java.lang.NullPointerException: Attempt to invoke virtual method 'boolean com.segment.analytics.ValueMap.getBoolean(java.lang.String, boolean)' on a null object reference

[2016-03-15 03:33] f2prateek commented on #416
Which version? Can you share code?

[2016-03-15 03:33] f2prateek commented on #415
If you check line 181 in the diff - we check if the event plan is null `if (isNullOrEmpty(eventPlan)) {` before continuing.

[2016-03-15 03:35] f2prateek commented on #415
I see, I forgot to return. Thanks!

[2016-03-15 03:42] f2prateek commented on #415
Fixed in https://github.com/segmentio/analytics-android/commit/21ec037f060baacef416a7ddf7fb6bf0b0cbab5c

[2016-03-15 03:42] #415 closed

[2016-03-15 03:42] f2prateek commented on #416
Fixed in https://github.com/segmentio/analytics-android/commit/21ec037f060baacef416a7ddf7fb6bf0b0cbab5c

[2016-03-15 03:42] #416 closed

[2016-03-15 04:05] hydrated opened #417 "Library suddenly crashes today."
I am using cradle to migrate library like this
{
	compile 'com.segment.analytics.android:analytics:4.+'
}

And it works fine before until today while I am rebuilding my project, the app starts crash in any call of this without changing any code of my project.

Analytics.with(MainFragmentActivity.this).track("Clicked Feedback");

Here is the crash log

E/AndroidRuntime(28709): 	at com.segment.analy

[2016-03-15 04:28] hydrated commented on #417
I did some test. v4.0.6 crashes but v4.0.5 doesn't.

[2016-03-15 06:01] virengujariya commented on #416
It was in version `4.0.6`

[2016-03-15 13:47] f2prateek commented on #417
Fixed on 4.0.7

[2016-03-15 13:47] #417 closed

[2016-03-22 02:27] aaron112 commented on #415
Thanks!

[2016-03-23 21:12] rreusser opened #418 ".screen() documentation error?"
The [`screen` documentation](https://segment.com/docs/libraries/android/#screen) has example:

[code]

[Valid type signatures](https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/segment/analytics/Analytics.java#L415-L453) are:

[code]

Unless I'm mistaken (I am new to Java), does this make the example with one `String` invalid? Appears the correction would be:

[2016-03-23 22:58] f2prateek commented on #418
That is correct, the docs are invalid

[2016-03-23 23:22] aminelaadhari opened #419 "ConcurrentModificationException"
We have this error since the new version 4.0.8.

Fatal Exception: java.util.ConcurrentModificationException
       at java.util.LinkedHashMap$LinkedHashIterator.nextEntry(LinkedHashMap.java:347)
       at java.util.LinkedHashMap$EntryIterator.next(LinkedHashMap.java:376)
       at java.util.LinkedHashMap$EntryIterator.next(LinkedHashMap.java:374)
       at java.util.AbstractMap.putAll(AbstractMap.

[2016-03-23 23:39] f2prateek commented on #419
are you reusing the properties object?

[2016-03-23 23:44] aminelaadhari commented on #419
no

[2016-03-24 14:54] brendonboshell opened #420 "MIT License"
I would like to fork this project under the MIT license, which it claims to be distributed under. However, there seems to be many files that claim to be licensed under Apache License 2.0. Searching for 'Apache License' yields 10 instances of use, where copyright is assigned to "Prateek Srivastava", "Chris Banes" or "Square, Inc". I think it would be clearer to have all files under the same license

[2016-03-24 18:10] f2prateek commented on #420
We can't change the Chris Banes and Square ones, but I can change mine. I think it was just filled in by the IDE.

[2016-03-26 14:11] nathanjones commented on #419
I've been having the same crash occur. It seems to happen as soon as Segment initializes. My stack track looks the same as Amine's:

[code]

[2016-03-26 19:23] f2prateek commented on #419
Can either of you send a reproducible case?

[2016-03-28 19:42] nathanjones commented on #419
I haven't been able to find a consistent way to reproduce it, it's usually right as the app launches, but here's a more complete thread dump from Crashlytics:

http://crashes.to/s/2f3ce9c45be

[2016-03-28 20:49] f2prateek commented on #419
Are you using the options object in your code?

[2016-03-28 20:52] f2prateek commented on #419
W/o a reproducible hard to say - but the stack trace points to https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/segment/analytics/IntegrationOperation.java#L203. So either `integrations` or `integrationOptions` is causing the error. It's unlikely `integrations` is causing the issue since it's allocated on the stack and not shared by threads.

`integrationOptio

[2016-03-28 21:40] aminelaadhari commented on #419
Is it safe to call track before all the integrations are ready ? (probably this is what happens here)

[2016-03-28 21:59] f2prateek commented on #419
Yes it is safe to call track before integrations are ready - can you clarify why you think that is causing an issue here? I don't think that is the issue.

[2016-03-29 01:43] aminelaadhari commented on #419
I thought that when an integration is ready it will modify existing TrackPayloads to add itself to them.

[2016-03-29 05:38] f2prateek commented on #419
@nathanjones @aminelaadhari are you using `Options` anywhere? If so, can you share the snippet?

[2016-03-29 14:33] aminelaadhari commented on #419
@f2prateek no I am not using it

[2016-03-29 14:45] nathanjones commented on #419
Here's all the code where I initialize all analytics platforms:

[code]

Other than what you see here, the only interaction I have with Segment is calling `Analytics.track` & `Analytics.screen`

[2016-03-29 15:10] aminelaadhari commented on #419
We have too many crashes, I think I am downgrading to v4.0.4
http://crashes.to/s/f552c8d8387

[2016-03-29 17:18] f2prateek commented on #419
Nope this is from our library. I think I have a good idea but hard to verify if it works without a test case. I can submit a patch but I'll need help testing it out.

[2016-03-29 17:35] aminelaadhari commented on #419
Yes, sure when you have a snapshot version ready ping me, I will release a new version with it. Thanks!

[2016-03-29 17:36] f2prateek commented on #419
I've submitted a fix in #419 that will be merged and releases shortly. Please try it out let me know if it fixes the issue and we can cut 4.0.9 with it.

[2016-03-29 17:58] #419 closed

[2016-03-29 18:01] aminelaadhari commented on #419
@f2prateek how can I get the snapshot ?

[2016-03-29 18:05] f2prateek commented on #419
These https://github.com/segmentio/analytics-java#snapshots instructions apply to our Android repo as well. once you've added that, just replace the version with 4.0.9-SNAPSHOT

[2016-03-29 18:07] f2prateek commented on #419
I'm also releasing 4.0.9 with this fix so if you can wait for an hour for that to be published, you don't need to try the snapshot.

[2016-03-29 18:08] aminelaadhari commented on #419
Ok thanks.

[2016-03-30 00:40] nathanjones commented on #419
I just pushed the 4.0.9 snapshot to the Play Store and this issue is still occurring.

[2016-04-04 09:36] aminelaadhari commented on #419
From our side it's fixed. Thanks @f2prateek!

[2016-04-04 18:04] f2prateek commented on #419
@nathanjones can you verify you were using the latest snapshot? Alternatively you can simply use 4.0.9

[2016-04-04 18:05] f2prateek commented on #419
@aminelaadhari Thanks for testing and confirming, I'm so sorry for introducing this bug!

[2016-04-04 18:50] nathanjones commented on #419
It may have been an issue with the version number on my reporting. I haven't seen that crash occur again so it looks like it's fixed. Thanks!

[2016-04-05 09:24] aminelaadhari opened #423 "Google Analytics integration issue IncompatibleClassChangeError"
Is it the good place to report integrations issues ?

we have this crash for some Android 5 phones:

Fatal Exception: java.lang.IncompatibleClassChangeError: Class 'java.lang.String' does not implement interface 'java.util.Map' in call to 'java.util.Set java.util.Map.entrySet()' (declaration of 'java.lang.reflect.ArtMethod' appears in /system/framework/core-libart.jar)
       at com.google.android

[2016-04-05 14:18] f2prateek commented on #423
It's best to report these on the specific integration repos https://github.com/segment-integrations/analytics-android-integration-google-analytics.

Which version of  the google analytics sdk are your using?

[2016-04-05 15:14] aminelaadhari commented on #423
I looked for the repo but I didn't find it. Do you want me to close this one and open it again there ?

It's v1.0.0

[2016-04-05 16:04] f2prateek commented on #423
This is ok for now, but just for the future (they're all under a different org https://github.com/segment-integrations).

I meant the Google Analytics SDK (not the integration). Can you share the output of `grade dependencies`?

[2016-04-05 17:31] aminelaadhari commented on #423
+--- com.segment.analytics.android.integrations:google-analytics:+ -> 1.0.0
|    \--- com.google.android.gms:play-services-analytics:8.3.0 -> 8.4.0 (*)

[2016-04-05 17:34] f2prateek commented on #423
` 8.4.0 (*)`

That's the issue - your app is using 8.4.0 of the Play Services SDK which breaks binary compatibility with 8.3.0 of the Play Services SDK (which is what our integration uses).

[2016-04-05 18:13] f2prateek commented on #423
The solution is to either force your app to use 8.3.0 or wait for us to update the integration to use 8.4.0. If nothing breaks then we'll release [this PR](https://github.com/segment-integrations/analytics-android-integration-google-analytics/pull/1/files) soon

[2016-04-05 21:44] f2prateek commented on #418
Updated docs https://segment.com/docs/libraries/android/#screen

[2016-04-05 21:44] #418 closed

[2016-04-05 21:52] f2prateek commented on #423
Released 1.1.0 of the GA integration. Please reopen the issue in the GA repo if the issue persists.

[2016-04-05 21:52] #423 closed

[2016-04-05 21:53] rreusser commented on #418
Awesome, thanks! :tada:

[2016-04-05 21:54] #234 closed

[2016-04-19 14:19] rjhashlearn commented on #384
@f2prateek The toast message with <activity> did not call MoEHelper.onPause(this) still apears after upgrading the bundled integration to 1.0.0. Was that intentionally left behind ?

[2016-04-19 18:08] f2prateek commented on #384
@rjhashlearn I'm not sure what issue you are referring to, but could you open with more details in this repository https://github.com/segment-integrations/analytics-android-integration-moengage?

[2016-04-20 05:33] rjhashlearn commented on #384
@f2prateek I was referring to what @nizamcs mentioned in this thread regarding the logs found -

[code]
Attaching screnshot
![img_save](https://cloud.githubusercontent.com/assets/15018392/14664310/8184af7e-06e7-11e6-9008-e16c38975b1d.jpg)

This seems to be appearing in all activities

[2016-04-22 21:08] rakerboom commented on #321
I am seeing this as well with some of our users but the OOM flavour.
[code]
After looking at QueueFile#expandIfNecessary I noticed that Integer bit shifting is used to expand the file size. Running some trivial code I generated the possible values:
[code]
Clearly, bit shifting to double the size only works until a file size of 1.07GB. Worse, There is no check for this in the do while loop of Queue

[2016-04-23 06:22] f2prateek commented on #321
Indeed, there is a max theoretical limit for the QueueFile size. But we should never hit that since we only store up to [1000 messages](https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/segment/analytics/SegmentIntegration.java#L67), each of which can be a maximum of [15kb](https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/s

[2016-04-29 02:10] sinistance commented on #321
previously got the OOB and now get these OOM after updating to `com.segment.analytics.android:analytics:4.0.4`
[code]
😭 😭 😭

[2016-04-29 04:22] f2prateek commented on #321
It's likely because reading the elements tries to allocate a huge array (975337831 https://github.com/segmentio/analytics-android/issues/321#issuecomment-169953450), which throws an OOM.

Do you have a reproducible case?

[2016-04-29 20:18] mbernier85 opened #424 "HTTP 400 on https://api.segment.io/v1/import and OutOfMemory problems."
[code]

[2016-05-02 03:00] sinistance commented on #321
i don't have. i got that from crashlytics report. i'll check is there any huge array or not. thanks!

[2016-05-02 16:39] rakerboom commented on #321
I am getting an EOFException I believe to be related:
[code]
I noticed from the comment at the top of QueueFile.java that it was copied from square. I took a look and square's implementation of Queuefile no longer has a dump method. I would suggest you update to the latest version of this code. https://github.com/square/tape/blob/master/tape/src/main/java/com/squareup/tape/QueueFile.java

[2016-05-04 20:53] mbernier85 commented on #424
Now that we can't send any message to the server, the caching file for data is too big and we are getting OutOfMemory error.

05-04 16:48:34.198 13425-13483/com.breather.android.dev E/AndroidRuntime: FATAL EXCEPTION: Segment-SegmentDispatcher
                                                                          Process: com.breather.android.dev, PID: 13425

[2016-05-04 22:43] f2prateek commented on #424
The 2nd one is related to https://github.com/segmentio/analytics-android/issues/321.

Do you have a reproducible case?

[2016-05-04 22:43] f2prateek commented on #321
The dump method was never in QueueFile. We've added it to debug the state of the file when an OOB happens.

[2016-05-04 22:44] #424 closed

[2016-05-05 18:05] f2prateek commented on #309
Merging into #321

[2016-05-05 18:05] #309 closed

[2016-05-05 18:06] f2prateek commented on #409
Needs more logs.

[2016-05-05 18:06] #409 closed

[2016-05-09 15:58] #390 closed

[2016-05-09 15:58] #402 closed

[2016-05-09 16:22] #420 closed

[2016-05-18 11:50] pandey-adarsh147 opened #430 "java.io.FileNotFoundException: https://api.segment.io/v1/import"
Payloads were rejected by server. Marked for removal.
                                                                com.segment.analytics.Client$UploadException: HTTP 400: Bad Request. Response: Could not read response body for rejected message: java.io.FileNotFoundException: https://api.segment.io/v1/import

I am keep getting this.

[2016-05-18 14:23] f2prateek commented on #430
Do you have a reproducible case?

[2016-05-20 20:33] cancan101 opened #432 "Opt-out for Android"
The iOS library has ability to opt-in / out: https://segment.com/docs/libraries/ios/#opt-out but I don't see similar calls for the Android library.

I see this: https://github.com/segmentio/analytics-android/issues/8, but don't see the `optOut` methods in the code.

[2016-05-20 21:47] f2prateek commented on #432
This is not supported in the Android library currently. For now best thing to do is add your own boolean check before calling analytics methods.

[2016-05-23 22:57] cancan101 opened #433 "shouldUseLocationServices equivalent for Android"
Is there an equivalent to [`shouldUseLocationServices`](https://segment.com/docs/libraries/ios/#location-services) for Android?

[2016-05-24 00:32] f2prateek commented on #433
The Android library does not record location information by default, so no.

[2016-05-24 00:32] #433 closed

[2016-05-24 00:33] f2prateek commented on #430
Closing since the SDK handles this gracefully, please re-open if you have a reproducible case and we can investigate the cause.

[2016-05-24 00:33] #430 closed

[2016-05-24 00:34] cancan101 commented on #433
Is there a way to get the android library to record location information?

[2016-05-24 17:05] f2prateek commented on #433
No, you must track the location manually and attach it to context https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/segment/analytics/AnalyticsContext.java#L250

[2016-05-24 17:16] cancan101 commented on #433
Any reason not to do that automatically like on ios?

[2016-05-24 17:32] f2prateek commented on #433
Different apps need different levels of accuracy. Some are happy with the last known location and some will need to know about periodic updates.

[2016-05-24 22:04] #410 closed

[2016-05-25 07:36] pandey-adarsh147 opened #436 "Fatal Exception: java.io.IOError: java.io.IOException: Unable to remove 1 payload(s) from queue."
Some thing happening in Android segment. Leads crashes very frequently.

Fatal Exception: java.io.IOError: java.io.IOException: Unable to remove 1 payload(s) from queue.
       at com.segment.analytics.SegmentIntegration.dump(Unknown Source:347)
       at com.segment.analytics.SegmentIntegration.performEnqueue(Unknown Source:228)
       at com.segment.analytics.SegmentIntegration$SegmentDispatcher

[2016-05-25 07:37] pandey-adarsh147 commented on #436
I have added multiprocessing system in my application.

[2016-05-25 07:55] f2prateek commented on #436
The client tis not safe for use by multiple processes.

[2016-05-25 07:55] #436 closed

[2016-05-25 09:42] pandey-adarsh147 commented on #436
How can I Provide separate Queue file name for each process?... this need to be fixed. We are getting thousands of crashes.

[2016-05-25 14:27] pandey-adarsh147 opened #437 "When you guys going to release: Dont block user thread while waiting for Advertising ID."
When you guys going to release: Dont block user thread while waiting for Advertising ID.

Or tell me some previous version code, which were non-blocking.

[2016-05-25 17:50] f2prateek commented on #436
@pandey-adarsh147 We won't be supported multi-process functionality in the library. Feel free to try using a different write key (or tag if you want to use the same segment project) for each process and let me know how it works though!

[2016-05-25 19:22] f2prateek commented on #437
4.1.1 is the last release which was non blocking.

[2016-05-25 19:22] #437 closed

[2016-05-27 13:26] abkaplan07 opened #439 "java.lang.ArrayIndexOutOfBoundsException in ValueMap"
Observed this error in our production app running Segment Analytics v4.0.4. User was trying to log into our app (therefore no Identify calls had been made yet).

Stack Trace:
java.lang.ArrayIndexOutOfBoundsException length=8; index=-913956946
    HashMap.java:335 java.util.HashMap.containsKey
    ValueMap.java:71 com.segment.analytics.ValueMap.containsKey
    IntegrationOperation.java:174 com.segm

[2016-05-28 03:22] f2prateek commented on #439
Please update to the latest version.

[2016-05-28 03:22] #439 closed

[2016-05-30 03:46] deltaguita opened #440 "Analytics.waitForAdvertisingId() block UI-Thread 5s~15s"
Hi segmentio team:

I  found out  that method Analytics.waitForAdvertisingId (Analytics line : 412) always lock UI thread seconds when first tracking.

It's mean that we should put tracking in background thread?

![screenshot_20160530-112436](https://cloud.githubusercontent.com/assets/3380016/15639248/fbcac938-265b-11e6-80d7-18e4e298684a.png)

Regards.

Wells
wells@upn.com.tw

[2016-05-30 05:40] f2prateek commented on #440
This has been fixed by https://github.com/segmentio/analytics-android/pull/435. It will be out in a release this week.

[2016-05-30 05:40] #440 closed

[2016-05-30 06:15] deltaguita commented on #440
Hi:

May i know which day or older version can avoid this issue ？
I got some feedback from user for it.

[2016-05-31 13:24] pandey-adarsh147 opened #441 "Caused by java.lang.ArrayIndexOutOfBoundsException"
Too much crashes happened in our production application... something went wrong with SDK.

Fatal Exception: java.io.IOError: java.io.IOException: Unable to remove 1 payload(s) from queue.
       at com.segment.analytics.SegmentIntegration.dump(Unknown Source:347)
       at com.segment.analytics.SegmentIntegration.performEnqueue(Unknown Source:228)
       at com.segment.analytics.SegmentIntegration

[2016-05-31 13:25] pandey-adarsh147 opened #442 "Fatal Exception: java.util.MissingFormatArgumentException: Format specifier: C"
Too much crashes happened on production.

Fatal Exception: java.util.MissingFormatArgumentException: Format specifier:  C
       at java.util.Formatter.getArgument(Formatter.java:1111)
       at java.util.Formatter.doFormat(Formatter.java:1076)
       at java.util.Formatter.format(Formatter.java:1042)
       at java.util.Formatter.format(Formatter.java:1011)
       at java.lang.String.format(Strin

[2016-05-31 15:34] f2prateek commented on #442
Use the latest version.

[2016-05-31 15:34] #442 closed

[2016-05-31 15:34] f2prateek commented on #442
Sorry realized it's not released yet but fixed on master https://github.com/segmentio/analytics-android/pull/434

Will be out within the week

[2016-05-31 15:35] f2prateek commented on #441
Fixed by https://github.com/segmentio/analytics-android/pull/434

Will be released within the week.

[2016-06-02 06:13] #441 closed

[2016-06-02 06:14] #321 closed

[2016-06-02 17:40] #391 closed

[2016-06-02 17:44] #406 closed

[2016-06-02 19:31] #432 closed

[2016-06-06 17:24] pandey-adarsh147 opened #449 "QueueFile throws ArrayIndexOutOfBoundsException"
Fatal Exception: java.lang.ArrayIndexOutOfBoundsException: length=16; regionStart=0; regionLength=-1813017969
      at java.util.Arrays.checkOffsetAndCount(Arrays.java:1719)
      at java.io.RandomAccessFile.readFully(RandomAccessFile.java:411)
      at com.segment.analytics.QueueFile.ringRead(Unknown Source:260)
      at com.segment.analytics.QueueFile.remove(Unknown Source:505)
      at com.segm

[2016-06-06 17:36] f2prateek commented on #449
Do you have a reproducible case?

[2016-06-06 17:42] pandey-adarsh147 commented on #449
Its on production. I don't know how to reproduce. But its too much crashes, once a user got this crash it will never recover.

[2016-06-09 21:12] #449 closed

[2016-06-22 20:36] hardartcore opened #452 "Error: cannot find symbol method use(Factory)"
Using the latest library in out application we are getting this error while trying to build our app:

`Error:(106, 17) error: cannot find symbol method use(Factory)`

Segment libraries and integrations which we are using are:
`compile 'com.segment.analytics.android:analytics:4.1.4'`

Localytics integration:
`compile('com.segment.analytics.android.integrations:localytics:1.0.2') {transitive = true}

[2016-06-23 03:39] f2prateek commented on #452
What's the output of `./gradlew dependencies`? Did you also try going a clean build?

what if you try ` .use(new Factory{} () {....} )` and fill it in using a stubbed implementation - does that still compile?

Also for future reference, the best place to ask these questions is emailing friends@segment.com.

[2016-06-23 07:08] hardartcore commented on #452
Nope that doesn't compile either.
So after a few hours digging and trying different stuff I find out the solution.
In your Localytics integration library you are using 4.0.0 version of your main Segment library which is not the latest one which I am using in our app. Same story in AppsFlyer integration library.

So it would be really good after releasing a new version of your main library to updat

[2016-06-23 08:08] f2prateek commented on #452
That's not the issue. I have a working example with the following configuration.

[code]

And if you check the `./gradlew dependencies` output for this, you'd see:

[code]

The integrations don't depend on a specific version when you build your app. They mark the dependency as `provided` (e.g. https://github.com/segment-integrations/analytics-android-integration-localytics/blob/master/build.gradle

[2016-06-23 08:08] #452 closed

[2016-06-29 20:05] jensck opened #455 "Integration with JobScheduler/GcmNetworkMnaager/JobDispatcher"
I'm not seeing an easy way to control publishing batches of data via JobScheduler (et al).  It'd be really great to get some integration here.

[2016-06-29 21:16] f2prateek commented on #455
We have to meet the lowest common denominator and unfortunately none of these options meet our requirements:

1. JobScheduler (only API 21+)
2. GcmNetworkManager (requires GCM dependency)
3. Job Dispatcher (requires firebase-job-dispatcher dependency)

Additionally I don't think there's significant value in adding support for this. Our SDK is minimal in terms of the networking it does, exposes a f

[2016-06-29 21:16] #455 closed

[2016-07-12 08:29] pmbfish40 opened #458 "When will be update the latest version of Google Play Services?"
I have integrated
com.google.android.gms:play-services-base:9.0.2'
com.google.android.gms:play-services-gcm:9.0.2

when I am using the dependency

compile('com.segment.analytics.android:analytics-integration-google-analytics:+') {
        transitive = true
    }

I got this error

failed for task ':app:transformClassesWithJarMergingForDebug'.

I know the solution:
You have to integrate the latest

[2016-07-12 12:53] ashishraval21 opened #459 "got below error on android 6.0.1"
Fatal Exception: java.lang.IllegalStateException: cache is closed
       at com.android.okhttp.internal.DiskLruCache.checkNotClosed(DiskLruCache.java:631)
       at com.android.okhttp.internal.DiskLruCache.remove(DiskLruCache.java:595)
       at com.android.okhttp.Cache.remove(Cache.java:244)
       at com.android.okhttp.Cache.put(Cache.java:211)
       at com.android.okhttp.Cache.-wrap0(Cache.jav

[2016-07-12 17:37] f2prateek commented on #458
The correct repo to open this issue is https://github.com/segment-integrations/analytics-android-integration-google-analytics/issues

[2016-07-12 17:37] #458 closed

[2016-07-22 16:07] kierse opened #462 "StrictMode: A resource was acquired at attached stack trace but never released"
We use StrictMode in development and started seeing the following error after upgrading to 4.1.4. We've since stopped using Segment while in development so I can't comment as to whether or not 4.1.5 fixes the problem.

This error comes from Android 6.0 running in Genymotion, but we've encountered it across various versions of Android (in VM and on physical devices) starting from 4.4 and newer

[co

[2016-07-27 15:03] bryant1410 opened #463 "There should be a way to know if flush() failed"
There's the `flush()` operation to trigger the action of uploading pending events tracked. Isn't there a way to know if it didn't succeed? It will be nice to have it. I understand this is not a pretty common use case.

[2016-07-27 15:03] bryant1410 commented on #463
/cc @matir91

[2016-07-27 18:20] f2prateek commented on #463
Could you explain your use case? We can't really add it now without breaking the API for integrations, but I'd like to keep it in consideration for the next major release.

Additionally, this is hard since most of the SDKs we integrate with don't have a callback in their libraries to indicate when the flush completes.

If you're only interested in the flush to segment servers, your best option for

[2016-07-27 18:20] #463 closed

[2016-07-27 18:20] f2prateek commented on #462
AFAICT we're definitely calling close, but I'll take a look.

[2016-07-27 18:39] bryant1410 commented on #463
Ok, here is the thing. An email sending event in Intercom is triggered via the integration with Segment. This event should be done asap, avoiding wasting time waiting for 20 events or 30 seconds to happen (the default flush in Android SDK). At the same time it could happened that the user loses connectivity, so it would be good to know whether the events upload was successful in order to tell the

[2016-07-27 19:06] f2prateek commented on #463
Makes sense, for your best option for now is to use a custom connection factory so you can monitor the HTTP request being made.

[2016-07-27 19:08] f2prateek commented on #463
Actually one more thing, even though the device might upload the event to our servers, sending from our servers to integrations (e.g. intercom) is still async, so there might still be a delay between after the devices *completes* the http request before the event is sent, so you can never get a 100% guarantee when an event will be delivered to Intercom.

[2016-07-27 19:12] bryant1410 commented on #463
Ok, good to know.

[2016-08-31 05:55] adoankim opened #465 "Null pointer exception on ValueMap"
Hello,

We're getting a lot of NullPointerException when calling identify of Analytics. The version we are using is the **4.1.6**

And the point where we get it:
[code]

Did you already got some issue like this before?

Thanks!

[2016-08-31 06:29] f2prateek commented on #465
Fixed here https://github.com/segmentio/analytics-android/pull/466.

In the meantime a fix would be to clean up your maps and not send `null` values.

[2016-08-31 07:07] adoankim commented on #465
Thanks @f2prateek!

[2016-08-31 08:24] adoankim commented on #465
@f2prateek  Ummm, i think that this does not solve our problem. Because is not the case.

The null pointer is caused by the identify line on the next code. Instead of maps we are using Analytics trait class. So we are not sending null in values parameter.

[code]

[2016-08-31 16:09] f2prateek commented on #465
@adoankim can you send me a reproducible case?

For me, this failed (without #466 merged):

[code]

But what you sent above works fine, (both before and after #466):

[code]

Maybe `user.getEmail` is returning `null` in your code?

[2016-09-01 04:35] adoankim commented on #465
@f2prateek sorry, i confirmed with the teammate that was working on the issue and is possible to get  a  new Traits().putEmail(null) in our case. I though that the think was  about sending something like:

`analytics.identify(userId, null, null);`

Thanks for the response!.

[2016-09-01 04:35] #465 closed

[2016-09-01 04:41] f2prateek commented on #465
Thanks for confirming!

[2016-11-03 18:40] schmohlio opened #481 "context.app.build should be a string"
The [app_build_key](https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/segment/analytics/AnalyticsContext.java#L209) is added to the context as an integer, as opposed to a string. This differs from OS libraries, and the general representation of context app fields as a dictionary with string values (see [segment](https://segment.com/docs/spec/common/#structure))

[2016-11-04 01:35] f2prateek commented on #459
Do you have a reproducible case here? Which versions of Android does this affect?

The stacktrace also looks incomplete - I don't see where in Segment this is originating from? I don't think this is directly an issue with the library itself, but implementation.

Are you using HttpResponseCache directly? Do you call `close` anywhere in your code?

[2016-11-04 01:35] #459 closed

[2016-11-11 03:28] f2prateek commented on #481
`build` wasn't spec'd to be a string (even though the example shows a string), so we just used whatever types the platform had https://developer.android.com/reference/android/content/pm/PackageInfo.html#versionCode.

[2016-11-11 03:31] f2prateek commented on #481
Changing it to a string now will have the effect of breaking applications who were depending on the field being a number. Might have to think through the transition, but for now it's best downstream applications handle both.

[2016-11-12 18:54] schmohlio commented on #481
Ok, thanks @f2prateek. as an overall suggestion it would be helpful if these libraries had specs for the "meta" fields. On the segment website there is a clear suggestion to use the same types for common fields, especially since their schema is not sent with the message or implicit in the version.

[2016-11-13 10:21] f2prateek commented on #481
Yup agreed, and we'll definitely fix this in the next major release, just in an awkward place currently because of a historical mistake.

[2016-11-16 10:24] peterkallstrom commented on #462
I'm seeing a similar issue using v4.2.4. Below is a log running on Android 5.1.1.

[code]

[2016-11-22 11:22] jianyaoang opened #485 "Gradle build failed Segment Analytics 4.2.4"
Previously my app was using Segment Analytics as well, and it's integrated into the app via Gradle:
[code]
And that is working fine. However, when updated to 4.2.4 via Gradle:

`compile 'com.segment.analytics.android:analytics:4.2.4'`

or

[code]
I encountered an error as below:

[code]

Please advise on how to proceed. Thank you!

[2017-01-05 00:11] snadjafi opened #490 "Thread starting during runtime shutdown"
I am using `v4.2.1` and I am getting this error. I thought I should report this.

[code]

[2017-01-05 00:50] f2prateek commented on #490
Can you share a reproducible case?

[2017-01-05 20:38] nayrban opened #491 "Thread starting during runtime shutdown"
**Hi guys, we are getting this exception on Crashlytics, right now we dont have the steps to trying to reproduce the issue, but is marked as non-fatal, is from our production version**

Non-fatal Exception: java.lang.InternalError: Thread starting during runtime shutdown
       at java.lang.Thread.nativeCreate(Thread.java)
       at java.lang.Thread.start(Thread.java:1063)
       at java.util.conc

[2017-01-05 20:40] f2prateek commented on #491
Tracking in #490

[2017-01-05 20:40] #491 closed

[2017-01-05 20:43] f2prateek commented on #490
@nayrban @snadjafi to be clear, this is from your logs and not actually crashing your app?

[2017-01-05 21:03] snadjafi commented on #490
@f2prateek This is from my logs and it is crashing my app but I am trying to reproduce it but I am not able to reproduce it. The past week I had 20 crashes and daily daily active users are around 6000 people.
Take a look at this: http://crashes.to/s/d80c97fab71

[2017-01-05 21:12] f2prateek commented on #490
@snadjafi are you calling analytics.shutdown anywhere?

[2017-01-05 21:22] snadjafi commented on #490
@f2prateek no. I only call `flush()` and `rest()` if the user log out which is not the case base on the log details.

[2017-01-05 21:25] f2prateek commented on #490
@snadjafi i see, are you maybe setting a custom network executor?

[2017-01-05 21:53] snadjafi commented on #490
@f2prateek I don't create any but other libs in my project probably they probably do. For example Fabric, Optimizely or Retrofit probably they do.

[2017-01-05 21:58] f2prateek commented on #490
@snadjafi sorry what I meant was do you create and set a custom network executor on the Analytics class https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/segment/analytics/Analytics.java#L1096-L1109.

[2017-01-05 22:04] snadjafi commented on #490
@f2prateek ooh nope.

[2017-01-05 22:22] f2prateek commented on #490
From what I can tell, this exception should only be thrown occur if the application process is being shut down in the case of a fatal error (see https://github.com/ACRA/acra/issues/332 and https://twittercommunity.com/t/thread-native-create-errors/70458). Based on these issues, it could be because this manifests only when specific UncaughtExceptionHandlers implemented a certain way are installed.

[2017-01-05 23:03] snadjafi commented on #490
@f2prateek that makes sense since this is only happening in 1 screen which tells me that the application is crashing for another reason and it's effecting this too. I really appreciate your help. I will do more investigation and get back to you if I find anything else.

[2017-01-25 19:54] NightlyNexus opened #492 "Support arrays for Properties value"
Lists work for this, but I didn't realize that without some debugging (or asking ha).
Maybe some documentation somewhere would suffice?
Or, if supporting arrays is something the serialization could/should support, I could take a stab at it.

[2017-01-25 21:35] NightlyNexus commented on #492
https://github.com/segmentio/cartographer/pull/4

[2017-02-01 22:55] RamIndani commented on #406
@f2prateek  @hankim813 After this change only Segment.io will not be shown under Integrations object and all other integrations like AppsFlyer will show "AppsFlyer:false" even though they are enabled under integration tab.

[2017-02-01 23:00] RamIndani commented on #406
@f2prateek  @hankim813 After this change only Segment.io will not be shown under Integrations object and all other integrations like AppsFlyer will show "AppsFlyer:false" even though they are enabled under integration tab.

[2017-02-02 00:07] f2prateek commented on #406
@RamIndani that is by design. If we didn't do that, the server would send those events via the server side integrations even though the client side integration handled them.

[2017-02-02 00:22] RamIndani commented on #406
@f2prateek Thank you for the response, now it's more easy to understand and explain why it shows false under Integration.

[2017-02-17 19:21] #492 closed

[2017-02-20 11:19] deltaguita opened #507 "Throw exception when properties with int array"
sdk version : `4.2.6`

My code:

[code]

Stack trace:
[code]

[2017-02-21 04:44] f2prateek commented on #507
This isn't supported. Send a `List` of integers. You can replace `int[] value = ArrayUtils.toPrimitive(set.toArray(new Integer[set.size()]));` with `List<Integer> value = new ArrayList<>(set);`

[2017-02-21 04:44] #507 closed

[2017-02-21 04:53] f2prateek commented on #507
https://github.com/segmentio/analytics-android/pull/508

[2017-02-23 23:45] NightlyNexus opened #510 "anonymousId should not be included in Traits."
The iOS SDK does not have this behavior, and https://segment.com/docs/spec/identify/ does not seem to document this.
Might be a breaking change to consider for 5.0? Would you consider a PR?

[2017-03-01 00:46] f2prateek commented on #510
Sorry missed this. Yes this was legacy behaviour, and I want to fix it. And it will be a breaking change unfortunately. Though you might be able to do this sooner than you think with interceptors! https://github.com/segmentio/analytics-android/tree/interceptors

[2017-03-08 23:49] f2prateek commented on #152
Closing this as there no plans currently to implement this, but we might revisit in the future.

[2017-03-09 00:12] f2prateek commented on #490
Closing this issue as there doesn't seem to be any action for us to take, but let us know if there are any updates!

[2017-03-09 00:12] #490 closed

[2017-03-28 19:59] nishantpardamwar opened #520 "Unable to track attribution information. Retrying on next launch."
Using Segment sdk v4.2.6 and mixpanel is configured from segment dashboard and webengage sdk is integrated with segment sdk and Getting this in logs and segment cant upload any events to mixpanel but it does upload to webengage..

[code]

[2017-03-28 21:13] tadfisher commented on #462
Seeing this in v4.2.6, Android 7.1.2:

[code]

[2017-03-29 07:41] f2prateek commented on #520
This message is expected. You have enabled `trackAttributionInformation`, but either have no attribution providers enabled or the enabled providers can't provided any data (most likely the first based on what you said).

It shouldn't affect events being sent to other integrations though. You can write in to support at https://segment.com/contact. Most likely you've configured something incorrectly

[2017-03-29 07:41] #520 closed

[2017-03-31 22:02] #152 closed

[2017-04-03 18:42] tadfisher opened #521 "OutOfMemoryError when enqueuing event"
Stack traces for similar crashes from two different call sites:

Google Pixel, 7.1.1:
[code]

Samsung Galaxy S6 (Sprint), 6.0.1:
[code]

[2017-04-06 10:41] wmontwe opened #522 "UserID should be recorded at time of event."
While using Segment with Mixpanel integration for Android, I faced a racing condition when calling `alias` followed by `identify` like in the documentation described here: [Alias](https://segment.com/docs/sources/mobile/android/#alias)

Expected outcome:
`anonymousId` is aliased to `userId` and then identified with `userId`

`analytics.alias("anonymousId", "userId");`
`analytics.identify("userId")

[2017-04-14 00:13] f2prateek commented on #522
Yep, this is expected, though i agree it's surprising.
 The userId is set on the main thread (or whatever thread you call identify on), but read on a background thread. This means earlier events may pick the userId set by a new identify call.

An easy fix would be to read the userId on the main thread.

[2017-04-19 19:30] Arthien opened #525 "NPE when sdk is initialized(Empty ProjectSettings Object)"
We are having an issue that appears randomly when running this SDK. We have tried both our production app and the sample app provided by segment docs, but we have the issue no matter the implementation.

[code]
I noticed that creating a new segment source and providing a different segment key occasionally fixed this issue.

Using the latest segment SDK.
Reproduced with and without any integrations

[2017-04-23 05:32] f2prateek commented on #525
Hey @Arthien, could you write in to friends@segment.Com and cc prateek@segment.com with more details such as your writeKey?

[2017-04-24 23:34] f2prateek commented on #522
I updated the title to better reflect the issue is. The source of the problem is that we don't record the userId when you call `track` or any of the methods, we do it a bit later.

[2017-04-24 23:58] f2prateek commented on #525
We tested our sample apps using a a few different writeKeys (including the one you sent in your ticket) on both 4.2.6 branch and master, but couldn't reproduce the behaviour you are seeing. Teresa from our team will follow up with more questions and help debug this further.

The case your stack trace is describing shouldn't be possible (empty project settings). We could have a guard against it, bu

[2017-04-24 23:58] #525 closed

[2017-04-25 16:58] Arthien commented on #525
Thanks for the information @f2prateek. When can I expect this follow up?

[2017-04-25 17:27] f2prateek commented on #525
@Arthien definitely should be hearing from us today!

[2017-05-04 16:54] f2prateek commented on #521
We tried to allocate some memory, but couldn't. This might happen if the app is running out of memory. I'm not sure we can do anything here?

[2017-05-04 18:15] NightlyNexus commented on #521
hm, yeah, I don't see anything special about those implementations.
OOM Errors can be misleading because the crash only happens at the last thing grabbing for memory.
I assume you're using Leak Canary to find anything else that might be leaking in your app?

[2017-05-09 19:22] greyvugrin opened #526 "(Question) Regarding Play Services requirement"
We have an an IOT/Robotics device (not a phone / mobile) running Android, which does not have Play services on it.

Per your documentation, the Android SDK has a reference to it to get the context.device.advertisingId.

Adding Play Services is not an option for us, and we were wondering if there is a way around this (like setting the advertisingId ourselves somewhere).

[2017-05-11 21:59] f2prateek commented on #526
You could set a custom Map for the "device" key which would have your advertising ID https://segment.com/docs/sources/mobile/android/#context. That being said, a lot of tools rely on this on specifically being the Google Advertising ID (which as I understand is only available via Play Services), so I would advise against it, and maybe send it as a custom property instead.

[2017-05-11 21:59] #526 closed

[2017-05-12 17:16] asmenter15 opened #527 "Crash on 4.3.0-RC1 Mixpanel Integration"
Getting a crash in the latest version of the Android Segment Analytics library.

In your documentation it recommends using..
compile 'com.segment.analytics.android:analytics:4+'

I have been using that since the beginning and as of today I am getting this error from your library..

[code]

Everything works as expected I update my build file with..
compile 'com.segment.analytics.android:analytics:4

[2017-05-12 19:37] f2prateek commented on #527
Thanks for the report! so this is actually a bug in the Mixpanel integration, surfaced by changes in the new RC. I'll have a fix out for that integration soon.

[2017-05-12 21:45] f2prateek commented on #527
Fix is up here https://github.com/segment-integrations/analytics-android-integration-mixpanel/compare/updates (I got a bit carried away and made some other updates too).

[2017-05-12 21:45] #527 closed

[2017-05-15 16:20] asmenter15 commented on #527
Thank you for the quick response / fix!

Hey just a note maybe you can pass along @f2prateek, the segment documentation says to use 'com.segment.analytics.android:analytics:4+' vs identifying a specific version. May I recommend actually specifying a version there instead to avoid these risks? That bug came in 5 hours after we had just uploaded 12 different apps to the play store which rely on the

[2017-05-15 16:40] f2prateek commented on #527
@asmenter15 yep I added a note `(we recommend replacing the + with the latest stable version available at the time)`.

[2017-05-15 16:44] asmenter15 commented on #527
Wow thanks awesome! Again appreciate the responsiveness!

[2017-05-25 19:35] tadfisher commented on #521
Yep, probably our fault. Closing.

[2017-05-25 19:35] #521 closed

[2017-06-01 20:54] kushalkadaba commented on #160
I am also facing this issue, where Alias and Identify payloads are getting created and uploaded (according to the logcat) but, on mixpanel the events under anonymous id aren't connected to the userId. Any pointers on how to debug this issue?

[2017-06-01 21:07] f2prateek commented on #160
1. Upgrade to the latest version.
2. Enable logging if still not working.
3. Send logs to friends@segment.com if it still not working.

[2017-06-01 21:52] kushalkadaba commented on #160
@f2prateek A little more background on this issue. The first time an anonymous id is aliased with a user id, the alias works fine. However, when
1. The user logs out
2. Opens the app again (there is a new anonymous id created)
3. All events are recorded under the new anonymous id.
4. User logs back in
5. App UserId is aliased with the new anonymous id in Step 2 and doesn't work.

[2017-06-14 17:35] f2prateek opened #532 "default for `trackAttributionInformation` should be false"
Currently is true https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/segment/analytics/Analytics.java#L1077.

[2017-06-15 20:32] Douvi opened #533 "Attribution Tracking: Disable by default and log less verbose."
I got this issue, the event is send to Segment but I got this error into the console android

`
E/Analytics: Unable to track attribution information. Retrying on next launch.
                                                            java.io.FileNotFoundException: https://mobile-service.segment.com/v1/attribution
                                                                at com.android.okhtt

[2017-06-15 21:18] f2prateek commented on #533
It's safe to ignore. The error is indicating that the library was unable to retrieve attribution information.

The 2 follow ups here are:

1. Disable this by default (https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/segment/analytics/Analytics.java#L1077).
2. Make the log statement less scary looking.

[2017-06-15 21:19] f2prateek commented on #533
I just made an issue for this yesterday actually. #532

[2017-06-15 21:19] #533 closed

[2017-06-25 16:27] tsaisean commented on #423
The issue still exist with 'com.segment.analytics.android.integrations:google-analytics:1.1.3'.

[code]

[2017-07-07 22:40] #532 closed

[2017-07-13 20:06] NightlyNexus opened #535 "Limit identify calls with identical traits."
I'd like to call identify a lot to keep my user traits updated.
But, I'd rather not waste the network calls when no traits have actually changed.

I could maintain my own cache of the traits, but I'm wondering if this library could help me avoid that added complexity.

So, API request:
An option to no-op the identify call if the Traits cache is equal to the Traits passed in.
or
An API to access th

[2017-07-13 20:16] f2prateek commented on #535
I think maybe the usage you have in mind is something we haven't considered.

Typically we tell people to call identify on certain actions rather than unconditionally. Actions such as:

1. Signing up
2. Logging in
3. Filling some form

I think in these cases typically there isn't a high likelihood that the traits are already cached (maybe in 3 but rare still). Could you describe when you call iden

[2017-07-13 20:25] NightlyNexus commented on #535
Ah, good points. Thanks.
AnalyticsContext.traits() is probably what I currently want...

I'd like to associate traits like "Is location services enabled?", "Is an accessiblity service enabled?", and "Is a wearable device connected?" with my users. These traits may change without real hooks into their changes, so I was thinking just best-effort run identify when the window opens.

Is there a better

[2017-07-16 17:48] f2prateek commented on #535
I think you might not want those as user traits. A user might have multiple devices with conflicting values that clobber each other.

What tools are you using to look at/analyze these? If this is in a warehouse, sending those in the context seems to be the best way to do that. Otherwise as event properties should also be ok.

[2017-07-17 20:32] NightlyNexus commented on #535
Yeah, in a warehouse (Redshift).

What do you mean by "sending those in the context?"

[2017-07-17 20:37] f2prateek commented on #535
Context is like properties but applies to all event types — https://segment.com/docs/spec/common/#context. This is where we collect information like the application version, network status, etc. You can set custom fields using https://segment.com/docs/sources/mobile/android/#context.

[2017-07-18 00:47] NightlyNexus commented on #535
Aah, yeah, nice.
These things like "Is location services enabled?" are much more like the locale and os version than user traits.

I wasn't able to convince my data people (I'll have to do an equals check on the `AnaltyicsContext.traits()`), but that's good to keep in mind for the future.

Thanks a ton!

[2017-07-18 00:47] #535 closed

[2017-08-08 14:03] carlbenson commented on #462
I get
[code]
Also on 4.2.6. Is this fixed in 4.3.0?

[2017-09-07 10:07] lynfogeek opened #538 "Duplicate analytics client exception is raised after having reset the client"
I am facing an issue trying to instantiate an Analytics instance, with (possibly) a `writeKey` which was previously used.

Once I call `analytics.reset()`, I expect to be able to build a new instance of `Analytics` with the previously used `writeKey`, without raising an exception.
Instead, this exception is raised:
https://github.com/segmentio/analytics-android/blob/639eedffb24b2af3d1c6500cf5b98c5

[2017-09-07 16:07] f2prateek commented on #538
What you're looking for is analytics.shutdown(). Reset will only clear local storage, it's meant for cases like user logging out of your app and a new user logs in.

This works in analytics iOS because it's a library that doesn't support multiple writeKeys (at least not properly) at the moment.

[2017-09-07 16:07] #538 closed

[2017-09-12 09:09] fahimsakri opened #539 "java.lang.NoSuchMethodError"
Getting this error after upgrading gms to 11.2.2 version and segment libs to latest version

[code]

[2017-09-12 11:34] lynfogeek opened #540 "java.util.concurrent.RejectedExecutionException"
I am facing this exception after shutting down my Analytics instance and creating a new one.

[code]

I have created a [simpleproject](https://github.com/impraise/seg-issue-reproduction) showcasing the error:
- launch app
- click the 'reset segment' button
- Put the activity onPause (via the `next activity` button or going to home screen.

[2017-09-12 17:29] f2prateek commented on #539
Duplicate of https://github.com/segment-integrations/analytics-android-integration-google-analytics/issues/12

[2017-09-12 17:29] #539 closed

[2017-10-03 02:56] xiaogegexiao commented on #538
Hi @f2prateek I'm having the same issue here.

I'm using
`analytics = new Analytics.Builder(appContext, Environment.SEGMENT_WRITE_KEY)
                    .trackApplicationLifecycleEvents()
                    .build();
 Analytics.setSingletonInstance(analytics);`
When app user logged in.

And when the app user logged out. I called these
`Analytics.with(appContext).flush();
  Analytics.with(appCon

[2017-10-03 03:00] f2prateek commented on #538
Yes, you need to call shutdown() if you are going to create a new Analytics object instance.

[2017-10-03 03:29] xiaogegexiao commented on #538
Yeah, I used shutdown() after the user logged out.
But unfortunately, it came with error

I think it is because of I used

But, if I don't use setSingletonInstance, am I able to log user information. I did this according to https://segment.com/docs/sources/mobile/android/

I guess I don't need to set the global singleton necessarily, as long as I hold the analytics instance reference?

[2017-10-03 04:23] f2prateek commented on #538
Yes, you can't call shutdown the singleton instance.

You should only create new instances of the Analytics object if you are using multiple writeKeys.

It doesn't sound like you need multiple write keys for your use case. Hence I suggest you implement it as the following:

1. in Application.onCreate

[code]

2. When user logs out

[code]

This way you don't need to worry about calling shutdown or

[2017-10-05 22:22] f2prateek commented on #540
Hey! Sorry for the delay. This issue was fixed in https://github.com/segmentio/analytics-android/pull/524. It's been available for a few months in the RC release. As of this week it's on 4.3.0 as well.

[2017-10-05 22:22] #540 closed

[2017-10-18 20:17] PedramVeisi opened #542 "Application Opened is not tracked properly"
Hi,

I enabled automatic tracking of lifecycle events and everything works fine except "Application Opened". Based on the [docs](https://segment.com/docs/spec/mobile/#application-opened)

And it should have a "from_background" property. I see a different behavior. The event is fired only if the app is closed (not when foregrounded). Also, the properties being sent with this event are "version" and

[2017-10-18 20:45] f2prateek commented on #542
This is intentional. The properties are meant to be what you *should* send if you implement the event manually. There's no way for us to get this information in a generic way easily for all our customers, so those fields are not collected.

It is intentional to collect version and build as well. I'll update the docs for that.

[2017-10-18 20:45] #542 closed

[2017-11-06 22:07] f2prateek commented on #462
@carlbenson sorry for the delay here. another user reported this as well. https://twitter.com/BenoitLetondor/status/927544518827757568

Could you send some details on reproducing? I don't see any warnings when I run our sample app.

[2017-11-23 20:17] f2prateek commented on #522
Tracking in https://segment.atlassian.net/browse/LIB-120

[2017-11-23 21:39] f2prateek commented on #510
Tracking internally in JIRA https://segment.atlassian.net/browse/LIB-121

[2017-11-23 21:40] f2prateek commented on #481
Tracking internally in JIRA https://segment.atlassian.net/browse/LIB-122

[2017-11-23 21:42] f2prateek commented on #462
Tracking internally in JIRA https://segment.atlassian.net/browse/LIB-122

We still haven't been able to reproduce this - if anyone can share the steps for reproducing it, that'd be great!

[2017-11-23 21:45] f2prateek commented on #210
Tracking internally in JIRA https://segment.atlassian.net/browse/LIB-124

[2017-12-01 14:24] caipivara opened #554 "OkHttpClient Leak"
Library version: 4.3.0

Every time I run it I see on logs:

[code]

[2017-12-05 09:22] egor-n opened #555 "Provide ProGuard rules through consumerProguardFiles"
It would be really nice to have ProGuard rules provided using the `consumerProguardFiles` method.
Each integration could also have their rules.

It also would be really nice to have them less broad than keeping everything (`com.segment.analytics.** { *; }`).

[2017-12-10 17:59] f2prateek commented on #554
Hi, I'm not seeing this our sample app.  Could you describe the steps to reproduce this? Which version of Android etc. Would be helpful as well.

[2017-12-10 17:59] #554 closed

[2017-12-21 22:00] bkparse opened #560 "Array out of bounds exception"
Using segment 4.3.0 notice this issue was set to fixed but still experiencing it
eg) https://github.com/segmentio/analytics-android/issues/441

`12-19 13:27:11.669 22860 23038 E AndroidRuntime: FATAL EXCEPTION: Segment-SegmentDispatcher
12-19 13:27:11.669 22860 23038 E AndroidRuntime: Process: com.example.ts, PID: 22860
12-19 13:27:11.669 22860 23038 E AndroidRuntime: java.lang.ArrayIndexOutOfBoun

[2017-12-21 22:21] f2prateek commented on #560
Doesn't look like you're using 4.3.0.

That points to https://github.com/segmentio/analytics-android/blob/bffff1c18037c52dae3a652b24ffd6b2ce49d848/analytics/src/main/java/com/segment/analytics/SegmentIntegration.java#L209-L218

Could you share the exact setup you have as a PR against the sample app here https://github.com/segmentio/analytics-android/tree/master/analytics-samples/analytics-sample/s

[2017-12-22 04:11] bkparse commented on #560
i am using `compile 'com.segment.analytics.android:analytics:4.3.0'` in gradle will make a pr

[2017-12-22 04:28] bkparse commented on #560
Ops it was the wrong branch sorry

[2017-12-22 04:28] #560 closed

[2018-01-02 16:28] cbedoy opened #566 "Can't build project using integrations"
Hi everyone we're having several problems with build our project, actually we're using Segment with GoogleAnalytics integration and seems you have one module or group duplicated but I can't find it.

When we try to build the project we have
[code]

We tried with exclude

[code]

And

[code]

Our gradle is:

[code]

Nobody can help us?

Regards,

[2018-01-02 18:16] f2prateek commented on #566
[code]

This indicates that some other dependency is conflicting with the Google Analytics dependency.

Try running `./gradlew dependencies` to see where else the Google dependencies are coming from and exclude it from those as well. Alternatively, you could force a version like you're doing with findBugs (using `resolutionStrategy.force`).

If you write in to https://segment.com/contact someone f

[2018-01-02 18:16] #566 closed

[2018-01-29 11:50] cem2ran commented on #510
@f2prateek has this issue been resolved?

[2018-01-29 11:51] cem2ran commented on #522
@f2prateek has this issue been resolved?

[2018-01-29 19:23] f2prateek commented on #522
hey @cem2ran not yet. We'll close the issue and link to the code that improves this  when it's done.

[2018-01-29 19:23] f2prateek commented on #510
hey @cem2ran not yet. We'll close the issue and link to the code that changes this when it's done.

[2018-02-05 19:48] #522 closed

[2018-02-05 19:48] #481 closed

[2018-02-23 00:34] eygraber commented on #554
I'm seeing this in library version 4.3.1 using a Pixel running 8.1

[2018-02-23 00:37] eygraber commented on #462
https://github.com/segmentio/analytics-android/issues/554#issuecomment-367870719

[2018-03-08 20:10] kushalkadaba commented on #462
This seems to be a bigger problem than just segment. Getting these warnings even from Newstand app. Looks like it's related to https://github.com/square/okhttp/issues/2311.

Could be solved by wrapping the HttpUrlConnection object so that it closes the input stream.
`class CustomConnectionFactory extends ConnectionFactory {

    @Override
    public HttpURLConnection upload(String writeKey) throws

[2018-03-21 10:11] Anilkbalakrishnan opened #576 "Analytics Client initialization throws null pointer exception"
Getting a null pointer exception on initializing  Analytics client:
Using **com.segment.analytics.android:analytics:4.3.0'**

Analytics.Builder(context, “Key”)
  .trackApplicationLifecycleEvents()
  .recordScreenViews()
  .build()

**Error**

to invoke virtual method 'java.lang.String android.net.NetworkInfo.toString()' on a null object reference Raw Text
--
  | android.os.Parcel.readException (Pa

[2018-03-21 19:15] f2prateek commented on #576
This works fine on my device, an emulator and in our CI tests that run on robolectric and an emulator as well. Can you provide more details on how to reproduce? Are you seeing this only on specific devices maybe?

[2018-05-02 06:02] manjunathc23 opened #577 "Is there any okHttp support for the network connection"
Hey @f2prateek,

Is there any plans to support okHttp network client support?

Thanks!
Manju

[2018-05-04 12:51] mpierucci commented on #554
@f2prateek Im also seeing this warners.
Library versión 4.3.1
Device LGE Nexus 5X API 26 (but happens on other devices as well)
As per reproduce set up some screen analítica and navigate through the app a little bit.

[2018-05-23 18:07] sergiomarquesmoura commented on #538
This issue makes it hard to integrate the SDK in an Android library, since you don't have an Application class to call the shutdown(). Definitely ignoring the instance in case one using the same tag is already stored would be a better option for these non-application use cases

[2018-05-23 18:38] f2prateek commented on #538
Hmm... I'm not sure I follow. If you're a library then you shouldn't be using the singleton instance anyway as that should be reserved for the host application.

[2018-05-23 18:46] sergiomarquesmoura commented on #538
That's right, but even without setting the singleton instance, apparently it's still possible to get the duplicate analytics client exception

[2018-05-23 20:29] f2prateek commented on #538
Yes - the exception is to remind you to not create multiple instances with the same key.

You should pass around the analytics object in your library wherever you need to use it rather than creating a new one on demand. Call shutdown on this instance when you're done with it so if you do need to create a new one, the previous one is shut down.

[2018-05-29 23:32] ArthurSav commented on #554
Why is this closed?

Library version 4.3.1 using a Samsung Galaxy S+ running Android 8.0.
Implemented some simple events + screen names for the first time today and i'm seeing this error.

As for reproducing the issue i suggest doing the same as mentioned above

[2018-05-30 00:04] f2prateek commented on #554
We did, and we haven't been able to reproduce the error you are describing on an emulator, Genymotion virtual device and a physical Pixel device.

[2018-05-30 01:35] ArthurSav commented on #554
I'll see if i can reproduce the issue reliably and maybe provide some insight about the cause.
In the meantime [this thread](https://github.com/square/okhttp/issues/2311) describes the issue and a potential solution. Seems that a HTTP connection is opened but not closed in all scenarios(i.e closes only for requests returning code 200)

[2018-05-30 04:33] f2prateek commented on #554
I don't think that's the root cause. The code for this is here https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/segment/analytics/SegmentIntegration.java#L374. It's called in the finally which should ensure that the connection is always closed.

[2018-07-10 05:08] mos8502 opened #586 "java.lang.ArrayIndexOutOfBoundsException"
We have started seeing this causing a crash using V 4.3.0 on Android P in production. Unfortunately I have yet to reproduce this issue myself.

[code]

[2018-07-13 02:56] f2prateek commented on #586
Interesting, we haven't seen this before. We could expand our check when we create the file (https://github.com/segmentio/analytics-android/blob/master/analytics/src/main/java/com/segment/analytics/SegmentIntegration.java#L132-L142).